@charset "UTF-8";
/*==========  Gymse fonts variables  ==========*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*========================================
=            Глобальные стили            =
========================================*/
body {
  color: #1f1f1d; }

a {
  color: #1f1f1d; }

/*==========  Заголовки, тексты  ==========*/
.sign {
  color: #487fa3; }

.text {
  color: #1f1f1d; }

/*==========  Разделитель  ==========*/
.separator {
  background-color: rgba(223, 0, 0, 0.3); }
  .separator:before {
    background-color: #DF0000; }

/*==========  Счетчик уведомлений  ==========*/
.notif-sum {
  background-color: #6E8C9F;
  color: #fff; }

/*==========  Голосование  ==========*/
.voting .voting-radio:checked + label, .voting .voting-radio:checked + label ~ label {
  color: #DF0000; }
.voting label {
  color: #6C8A9C; }
  .voting label:hover, .voting label:hover ~ label {
    color: #DF0000; }

/*==========  Цвет текста  ==========*/
.c-main1 {
  color: #234A60 !important; }

.c-second1 {
  color: #6C8A9C !important; }

.c-gray {
  color: #dfdfdf !important; }

/*-----  End of Глобальные стили  ------*/
/*==============================
=            Кнопки            =
==============================*/
button, .button, input[type="submit"] {
  background-color: #DF0000;
  border-color: #EB6B6B;
  color: #fff; }

.btn-light {
  background-color: #fff;
  color: #EB6B6B; }

/*-----  End of Кнопки  ------*/
/*==============================
=            Инпуты            =
==============================*/
.input-style, input[type="text"], input[type="password"], input[type="email"], input[type="tel"], textarea, .switch-input, .select select {
  background-color: #fff;
  border-color: #DF0000; }

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], textarea {
  color: #1f1f1d; }
  .start-page input[type="text"], .start-page input[type="password"], .start-page input[type="email"], .start-page input[type="tel"], .start-page textarea {
    background-color: #C65858;
    border-color: #9D4F4F;
    color: #fff; }

::-webkit-input-placeholder {
  color: #234A60; }
  .start-page ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6); }

/*==========  Переключатель radio  ==========*/
.switch-change + label {
  border-color: #DF0000;
  color: #DF0000; }
.switch-change:checked + label {
  background-color: #DF0000;
  color: #fff; }

/*==========  Радио и Checkbox кастомные  ==========*/
input[type="radio"]:not([class]) + label:before, input[type="checkbox"]:not([class]) + label:before {
  background-color: #fff;
  border-color: #6C8A9C; }
input[type="radio"]:not([class]) + label:after, input[type="checkbox"]:not([class]) + label:after {
  background-color: #6C8A9C; }
input[type="radio"]:not([class]):checked + label:before, input[type="checkbox"]:not([class]):checked + label:before {
  border-color: #DF0000; }
input[type="radio"]:not([class]):checked + label:after, input[type="checkbox"]:not([class]):checked + label:after {
  background-color: #DF0000; }

input[type="checkbox"]:not([class]) + label:after {
  color: #DF0000; }
input[type="checkbox"]:not([class]):checked + label:before {
  border-color: #DF0000; }

/*==========  Обертка для инпутов и положение иконок в них  ==========*/
.input-group.required:before {
  color: #11435C; }

/*==========  Селект  ==========*/
.select {
  color: #234A60; }
  .select:before {
    border-top-color: #9D4F4F; }

.select-filter {
  color: #fff; }
  .select-filter select {
    background-color: #DF0000;
    border-color: #EB6B6B; }
  .select-filter.light {
    color: #EB6B6B; }
    .select-filter.light select {
      background-color: #fff; }

/*==========  Диапазон времени  ==========*/
.time-range {
  color: #DF0000; }

/*==========  Чек дней  ==========*/
.checkdays {
  color: #DF0000; }
  .checkdays .checkday:checked + label {
    background-color: #DF0000;
    color: #fff; }

/*-----  End of Инпуты  ------*/
/*====================================
=            Шапка и меню            =
====================================*/
.main-menu {
  background-color: #E30712;
  color: rgba(0, 0, 0, 0.25); }

/*==========  Кнопка меню  ==========*/
.btn-menu:before {
  background-color: #6E8C9F; }

.btn-menu-lines {
  background-color: #fff; }

.btn-synch {
  color: #fff; }

/*==========  Левое навигационное меню  ==========*/
.nav-menu .wrap {
  background-color: #234A60; }
.nav-menu .user-photo {
  border-color: #fff; }
.nav-menu .name {
  color: #fff; }
.nav-menu .nav-list a {
  color: #fff; }
  .nav-menu .nav-list a:active, .nav-menu .nav-list a.active-state {
    background-color: rgba(207, 55, 55, 0.5); }
  .nav-menu .nav-list a:before {
    background-color: #CF3737; }
.nav-menu .action-link {
  background-color: #CF3737;
  color: #fff; }

/*-----  End of Шапка и меню  ------*/
/*============================
=            Табы            =
============================*/
.tabs {
  background-color: #234A60;
  border-bottom-color: #234A60; }
  .tabs a {
    border-left-color: #234A60;
    color: #fff; }
    .tabs a.active {
      background-color: #E30712; }
  .tabs.tabs-week a.active span {
    color: #fff; }
  .tabs.tabs-week .weekday {
    color: #E30712; }
  .tabs.tabs-week .monthday {
    color: #fff; }

/*-----  End of Табы  ------*/
/*=============================
=            Items            =
=============================*/
.item {
  background-color: #fff;
  color: #9facb5; }
  .item .desc, .item .text {
    color: #1f1f1d; }

/*-----  End of Items  ------*/
/*=================================
=            Сообщения            =
=================================*/
.item-message .user-photo {
  background-color: #E30712;
  color: #fff; }

/*-----  End of Сообщения  ------*/
/*============================
=            Main            =
============================*/
.page {
  background-color: #f5fbff; }

/*==========  Start-page  ==========*/
.main .form-auth {
  border-color: #fff; }
  .main .form-auth .logo .label {
    color: #fff; }
  .main .form-auth .bottom-link a, .main .form-auth .bottom-link p {
    color: #fff; }

/*==========  Settings-page  ==========*/
.load-photo .user-photo {
  border-color: #234A60;
  color: #234A60; }
.load-photo a {
  color: #234A60; }

/*==========  News-s  ==========*/
.date {
  color: #E30712; }

/*==========  Filter-s  ==========*/
.item-filter .dur:before {
  background-color: #6C8A9C; }

.tags .tag {
  background-color: #6C8A9C;
  color: #fff; }
  .tags .tag:before {
    background-color: #fff; }

/*==========  About-s  ==========*/
.slider-branch .nav-slider {
  background-color: rgba(235, 88, 88, 0.9); }
.slider-branch .club-name {
  color: #fff; }
.slider-branch .arrows {
  background-color: #fff;
  color: #234A60; }

/*-----  End of Main  ------*/