*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, fieldset, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}
html,
body{
    max-width: $maxFullW + px;
    height: 100%;
}
html{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body{
    background-color: $back_bg;
    margin: 0;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    & > .ng-scope{
        height: 100%;
    }
}
a, button, :focus, a:focus, button:focus, a:active, a:hover {
  outline: 0;
}
a{
    text-decoration: none;
    border-bottom: pconv(2, vw) solid;
    // border-bottom: 1px solid;
}
.ib{
    display: inline-block;
}
.d-flex{
    display: flex;
}
.flex-center{
    align-items: center;
}
.flex-bottom{
    align-items: flex-end;
}
.flex-just-btw{
    justify-content: space-between;
}
.ta-center{
    text-align: center;
}

/*==========  Заголовки, тексты  ==========*/

.title{
    line-height: 1.25;
    font-size: pconv(64, vw);
    font-weight: 100;
}
.sign{
    line-height: 1.3;
    font-size: pconv(30, vw);
}
p{
    line-height: 1.25;
    margin: 1.3em 0;
}
::selection{

}
.text{
    line-height: 1.3;
    font-size: pconv(40, vw);
}


/*==========  Колонки  ==========*/

@for $i from 2 through 8{
    .col-#{$i} > * ,
    .w-#{$i} {
        width: to-fixed(100 / $i, 2)+#{'%'};
    }
}


/*==========  Разделитель  ==========*/

.separator{
    position: relative;
    max-width: pconv(360, vw);
    height: 1px;
    margin: pconv(75, vw) auto;
    &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 21%;
        height: pconv(5, vw);
        transform: translate3d(-50%, -50%, 0);
    }
}


/*==========  Фотография пользователя  ==========*/

.userphoto{
    display: inline-block;
    position: relative;
    border: pconv(6, vw) solid;
    border-radius: 50%;
    overflow: hidden;
    img{
        position: relative;
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
}

/*==========  Счетчик уведомлений  ==========*/

.with-notif{
    .notif-sum{
        opacity: 1;
        visibility: visible;
        transition: opacity $globDur;
    }
}
.notif-sum{
    display: inline-block;
    position: absolute;
    top: pconv(12, vw);
    right: 0;
    min-width: pconv(38, vw);
    line-height: pconv(32, vw);
    border-radius: pconv(8, vw);
    transform: translateY(-50%);
    font-size: pconv(22, vw);
    font-weight: 400;

    opacity: 0;
    visibility: hidden;
    transition: opacity $globDur, visibility 0s $globDur;
}

/*==========  Фиксированное изображение  ==========*/

.fix-image{
    // background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}


/*==========  Текст с иконкой  ==========*/

.with-icon{
    position: relative;
    padding-left: pconv($with_icon_p, vw);
    i{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 80%;
    }
}

/*==========  Ellips  ==========*/

.ellipsis{
    &:before{
        content: "";
        float: left;
        width: pconv(5, vw);
        height: 100%;
    }
    &:after{
        content: "\02026";
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        position: relative;
        right: 0;
        bottom: 0;
        width: 3em;
        padding-right: pconv(10, vw);
        text-align: right;
        box-sizing: border-box;
    }

    & > *:first-child {
        float: right;
        width: 100%;
        margin-left: #{'-'}+pconv(5, vw);
    }
    p{
        margin: 0;
        padding: 0;
    }
}

/*==========  Голосование  ==========*/

.voting{
    .change-voting{
        direction: rtl;
    }
    font-size: 0;
    label{
        display: inline-block;
        padding: 0 0.27em;
        font-size: pconv(72, vw);
        cursor: pointer;
        i{
            transition: color $globDur;
        }
        &:first-of-type{
            padding-right: 0 !important;
        }
        &:last-of-type{
            padding-left: 0 !important;
        }
    }
}

/*==========  Ссылка заполнитель блока  ==========*/

.link-detail{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: none;
    z-index: 1;
}

/*==========  Ссылки в формах  ==========*/

.link-form{
    display: inline-block;
    font-size: pconv(40, vw);
}



.page-with-head{
    padding-top: pconv($header_h, vw);
}
.main-section{
    padding: pconv($main_section_p, vw);
    & > .wrap ,
    .wrap-main {
        // max-width: pconv(570, vw);
        max-width: 75%;
        margin: 0 auto;
    }
}


@import 'components/inputs';
@import 'components/buttons';
@import 'components/nav-header';
@import 'components/tabs';
@import 'components/items';
@import 'components/messages';
