.filter-page{
    .select-filter{
        margin-bottom: pconv(65, vw);
    }
}
.item-filter{
    margin-bottom: pconv(40, vw);
    .desc{
        padding-right: pconv(30, vw);
    }
    .info-desc{
        max-width: 80%;
    }
    .info-time{
        .title{
            margin-left: -0.08em;
        }
    }

    .dur{
        position: relative;
        padding-top: pconv(22, vw);
        font-size: pconv(30, vw);
        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: $mn + pconv(4, vw);
            width: 74%;
            height: pconv(2, vw);
        }
    }

    .more-info{
        font-size: pconv(35, vw);
    }
    .text{
        line-height: 1.25;
        font-size: pconv(45, vw);
    }
    .more-info{
        margin-bottom: pconv(40, vw);
        & > div{
            margin-bottom: 0.8em;
        }
    }
    .tags{
        margin-bottom: pconv(30, vw);
    }
}
.tags{
    font-size: 0;
    .tag{
        display: inline-block;
        position: relative;
        margin-right: pconv(16, vw);
        margin-bottom: pconv(10, vw);
        padding: pconv(8, vw);
        padding-left: pconv(36, vw);
        padding-right: pconv(12, vw);
        border: none;
        border-radius: pconv(8, vw);
        font-size: pconv(25, vw);
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: pconv(9, vw);
            width: pconv(18, vw);
            height: pconv(18, vw);
            border-radius: 50%;
            transform: translateY(-50%);

        }
        &:last-of-type{
            margin-right: 0;
        }
    }
}