$size: false; // for Total Size

////
/// String to number converter
/// @author Hugo Giraudel
/// @access private
////


///
/// Casts a string into a number
///
/// @param {String | Number} $value - Value to be parsed
///
/// @return {Number}
///
@function to-number($value) {
  @if type-of($value) == 'number' {
    @return $value;
  } @else if type-of($value) != 'string' {
    $_: log('Value for `to-number` should be a number or a string.');
  }
  
  $result: 0;
  $digits: 0;
  $minus: str-slice($value, 1, 1) == '-';
  $numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);
  
  @for $i from if($minus, 2, 1) through str-length($value) {
    $character: str-slice($value, $i, $i);
    
    @if not (index(map-keys($numbers), $character) or $character == '.') {
      @return to-length(if($minus, -$result, $result), str-slice($value, $i))
    }
    
    @if $character == '.' {
      $digits: 1; 
    } @else if $digits == 0 {
      $result: $result * 10 + map-get($numbers, $character);  
    } @else {
      $digits: $digits * 10;
      $result: $result + map-get($numbers, $character) / $digits;
    }
  }
  
  @return if($minus, -$result, $result);;
}


///
/// Add `$unit` to `$value`
///
/// @param {Number} $value - Value to add unit to
/// @param {String} $unit - String representation of the unit
///
/// @return {Number} - `$value` expressed in `$unit`
///
@function to-length($value, $unit) {
  $units: ('px': 1px, 'cm': 1cm, 'mm': 1mm, '%': 1%, 'ch': 1ch, 'pc': 1pc, 'in': 1in, 'em': 1em, 'rem': 1rem, 'pt': 1pt, 'ex': 1ex, 'vw': 1vw, 'vh': 1vh, 'vmin': 1vmin, 'vmax': 1vmax);
  
  @if not index(map-keys($units), $unit) {
    $_: log('Invalid unit `#{$unit}`.');
  }
  
  @return $value * map-get($units, $unit);
}

@function strip-units($number) {
    @return $number / ($number * 0 + 1);
}
@function to-string($value) {
    @return inspect($value);
}
@function to-fixed($float, $digits: 5) {
  $sass-precision: 5;
  
  @if $digits > $sass-precision {
    @warn "Sass sets default precision to #{$sass-precision} digits, and there is no way to change that for now."
    + "The returned number will have #{$sass-precision} digits, even if you asked for `#{$digits}`."
    + "See https://github.com/sass/sass/issues/1122 for further informations.";
  }
  
  $pow: pow(10, $digits);
  @return round($float * $pow) / $pow;
}
@function pow($x, $n) {
  $ret: 1;
    
  @if $n >= 0 {
    @for $i from 1 through $n {
      $ret: $ret * $x;
    } 
  } @else {
    @for $i from $n to 0 {
      $ret: $ret / $x;
    }
  }
  
  @return $ret;
}

@function pconv($number1, $number2: false, $unit: false) {
    
    $number1: strip-units($number1);
    
    @if type-of($number2) == "number"{
        $number2: strip-units($number2);
        $result: to-fixed($number1 / $number2);
        
        @if $unit and type-of($unit) == "string"{
            $result: $result * 100;
            @if $unit == "vw" and $result < 0.285{
              $result: 0.285;
              $unitresult: $result + $unit;
              @return to-number($unitresult);
            } @else{
              $unitresult: $result + $unit;
              @return to-number($unitresult);
            }
            
        } @else{
            $result: percentage($result);
            @return to-number($result);
        }
    } @else if $number2{
        $unit: $number2;
        $unitresult: to-fixed($number1 / $maxFullW) * 100;
        @if $unit == "vw" and $unitresult < 0.285{
          $unitresult: 0.285;
          $unitresult: $unitresult + $unit;
          @return to-number($unitresult);
        } @else{
            $unitresult: $unitresult + $unit;
            @return to-number($unitresult);
        }
    } @else{
        
        @if $size{
            $number2: strip-units($size);
            $result: to-fixed($number1 / $number2);
            $result: percentage($result);
            @return to-number($result);
        }
        
        $result: percentage(to-fixed($number1 / $maxFullW));
        @return to-number($result);
    }
    
}

