@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900italic&subset=cyrillic,latin);

@font-face {
	font-family: 'gymse';
	src:url('../../fonts/icons/gymse.eot?-a8dade');
	src:url('../../fonts/icons/gymse.eot?#iefix-a8dade') format('embedded-opentype'),
		url('../../fonts/icons/gymse.ttf?-a8dade') format('truetype'),
		url('../../fonts/icons/gymse.woff?-a8dade') format('woff'),
		url('../../fonts/icons/gymse.svg?-a8dade#gymse') format('svg');
	font-weight: normal;
	font-style: normal;
}
.gms-font{
	font-family: 'gymse';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="gms-"], [class*=" gms-"] {
	@extend .gms-font;
}

.gms-synch-icon:before {
	content: $gms-synch-icon;
}
.gms-user_nophoto-icon:before {
	content: $gms-user_nophoto-icon;
}
.gms-user_mess_nophoto-icon:before {
	content: $gms-user_mess_nophoto-icon;
}
.gms-arrow_left-icon:before {
	content: $gms-arrow_left-icon;
}
.gms-arrow_right-icon:before {
	content: $gms-arrow_right-icon;
}
.gms-barcode-icon:before {
	content: $gms-barcode-icon;
}
.gms-call-icon:before {
	content: $gms-call-icon;
}
.gms-check_checked-icon:before {
	content: $gms-check_checked-icon;
}
.gms-date-icon:before {
	content: $gms-date-icon;
}
.gms-geo-icon:before {
	content: $gms-geo-icon;
}
.gms-message-icon:before {
	content: $gms-message-icon;
}
.gms-phone-icon:before {
	content: $gms-phone-icon;
}
.gms-send-icon:before {
	content: $gms-send-icon;
}
.gms-star-icon:before {
	content: $gms-star-icon;
}
.gms-filter-icon:before {
	content: $gms-filter-icon;
}