.article-message{
    .desc{
        &:last-of-type{
            padding-bottom: 0;
        }
    }
}
.item-message{
    position: relative;
    padding-left: pconv(155, vw);
    margin-bottom: pconv(60, vw);
    &:last-of-type{
        margin-bottom: pconv(45, vw);
    }
    .user-photo{
        position: absolute;
        top: 0;
        left: 0;
        width: pconv(100, vw);
        height: pconv(100, vw);
        overflow: hidden;
        border-radius: 50%;
        font-size: pconv(42, vw);
        z-index: 1;
        &:before{
            content: $gms-user_mess_nophoto-icon;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            @extend .gms-font;
            z-index: -1;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    .name{
        margin-bottom: 0.75em;
        font-size: pconv(40, vw);
    }
    .date{
        margin-left: 0;
        margin-bottom: 1em;
    }
    .text{

    }
}
.enter-text-message{
    position: relative;
    white-space: nowrap;
    padding-bottom: 1px;
    overflow: hidden;
    font-size: 0;
    &.active{
        button{
            padding-left: pconv(30, vw);
            padding-right: pconv(30, vw);
            width: pconv(275, vw);
        }
        textarea{
            &::-webkit-input-placeholder{
                opacity: 1;
            }
        }
    }
    textarea{
        display: inline-block;
        padding-top: pconv(22, vw);
        padding-right: pconv(285, vw);
        height: auto;
        min-height: pconv($enter_msg_h, vw);
        vertical-align: top;
        font-size: pconv(40, vw);
        &::-webkit-input-placeholder{
            opacity: 0;
            transition: opacity $enterTextDur; 
            transform: translate3d(0,0,0);
        }
        
    }
    button{
        display: inline-block;
        vertical-align: top;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        transition: all $enterTextDur;
        transform: translate3d(0,0,0);
    }
}