.tabs{
    display: flex;
    margin-bottom: pconv(40, vw);
    min-height: pconv(147, vw);
    font-size: pconv(54, vw);
    font-weight: 100;
    border-bottom: pconv(2, vw) solid;

    a{
        display: flex;
        align-items: center;
        word-break: break-word;

        padding: pconv(40, vw) pconv(5, vw);
        border-bottom: none;
        border-left: pconv(2, vw) solid;
        text-align: center;
        &:first-of-type{
            border-left: none;
        }
        .tab-wrap{
            display: block;
            width: 100%;
            & > span{
                position: relative;
                display: inline-block;
                padding: 0 pconv(22, vw);
            }
        }
    }
    &.tabs-week{
        min-height: pconv(193, vw);
        a{
            padding: pconv(30, vw) pconv(5, vw);
            span{
                display: block;
                padding: 0;
            }
        }
        .weekday{
            margin-bottom: 0.2em;
        }
    }
}