$arrows_block_w: 220;

.about-page{
    padding-top: pconv(65, vw);
    .wrap{
        max-width: none;
        padding-left: pconv(110, vw);
        margin-bottom: pconv(50, vw);
    }
    .with-icon{
        margin-bottom: 2.4em;
        padding-left: 2.17em;
        font-size: pconv(40, vw);
        i{
            top: 0.4em;
            transform: none;
        }
    }
    a.with-icon{
        display: inline-block;
        border-bottom: none;
        span{
            border-bottom: pconv(2, vw) solid;
        }
    }
    .phones{
        margin-bottom: pconv(50, vw);
        a{
            display: inline-block;
            margin-bottom: 0.7em;
            border: none;
        }
    }

}

    .slider-branch{
        position: relative;
        .swiper-slide{
            img{
                width: 100%;
                height: auto;
            }
        }
        .nav-slider{
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            min-height: pconv(130, vw);
            padding: pconv(20, vw) pconv($main_section_p, vw);
            z-index: 5;
        }
        .wrap{
            
        }
        .club-name{
            // width: pconv(765, vw);
            width: 100%;
            padding-right: pconv($arrows_block_w + $main_section_p, vw);
            font-size: pconv(40, vw);
        }
        .arrows{
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            bottom: 0;
            right: pconv($main_section_p, vw);
            min-width: pconv($arrows_block_w, vw);
            padding: 0 pconv(65, vw);
            text-align: center;
            font-size: pconv(40, vw);
            font-weight: normal;
            .sl-arrow-prev,
            .sl-arrow-next{
                position: absolute;
                display: inline-block;
                top: 50%;
                left: pconv(20, vw);
                border-bottom: none;
                transform: translateY(-50%);
                color: inherit;
                &:before{
                    content: $gms-arrow_left-icon;
                    @extend .gms-font;
                }
            }
            .sl-arrow-next{
                left: auto;
                right: pconv(20, vw);
                &:before{
                    content: $gms-arrow_right-icon;
                    @extend .gms-font;
                }
            }
            .num-sl{
                width: 100%;
            }
        }
    }