$img_news_h: 170;

.news-block{
    
}
.item-news{
    
    .image-news{
        height: pconv($img_news_h, vw);
    }
    
    &.item-voting{
        .text{
            padding-right: pconv(35, vw);
        }
        .voting{
            label{
                padding: 0 0.115em;
                font-size: pconv(62, vw);
            }
        }
    }
}
    .date{
        font-size: pconv(30, vw);
    }


/*==================================================
=            Детальная страница новости            =
==================================================*/

.news-detail{

}
    .content-slider{
        margin-left: #{'-'}+pconv($main_section_p, vw);
        margin-right: #{'-'}+pconv($main_section_p, vw);
        margin-bottom: pconv(30, vw);
        .swiper-slide{
            width: 91%;
            padding-right: pconv(8, vw);
            img{
                width: 100%;
                height: auto;
            }
        }
    }

/*-----  End of Детальная страница новости  ------*/


