.voting-page{
    .title{
        margin-bottom: 1.15em;
    }
    .wrap{
        padding-bottom: 0;
    }
    button{
        margin-top: pconv(110, vw);
    }
    .voting{
        display: flex;
        align-item: center;

        .mark-voting{
            margin-left: 0.85em;
            font-size: pconv(72, vw);
        }
    }
    .link-form{
        margin-top: 1.85em;
    }
    .radio-group{
        margin-bottom: pconv(65, vw);
        &:last-of-type{
            margin-bottom: 0;
        }
    }
}