<div class="page">
    <div class="main start-page page-content">
        <div class="form-auth ta-center">
            <div class="logo">
                <img src="img/logo-gym.png" alt="">
                <div class="label">Занимайся эффективным <br>фитнесом</div>
            </div>
            <form class="form-login" action="">
                <div class="input-group">
                    <input type="text" placeholder="Ваш логин">
                </div>
                <div class="input-group">
                    <input type="password" placeholder="Пароль">
                </div>
                <button type="submit" class="btn-light">Войти</button>
                <div class="bottom-link">
                    <a href="#!/news" ui-sref="news" class="arrow-next">Пропустить этот шаг</a>
                    <p>или</p>
                    <a href="#!/auth/register" ui-sref="register" class="arrow-next">Зарегистрироваться</a>
                </div>
            </form>
        </div>
    </div>
</div>