<div class="page">

    <!-- Шапка с навигацией -->
    <div class="main-menu">
        <a href="" class="btn-menu has-notif open-panel">
            <span class="btn-menu-lines"></span>
        </a>
        <div class="brand-logo"><img src="img/blank-logo.png" height="100" width="376" alt=""></div>
        <a href="" class="btn-synch gms-synch-icon"></a>
    </div>
    
    <div class="page-with-head page-content" ui-view>
        <nav class="tabs col-3">
            <a href=""  class="">
                <span class="tab-wrap">
                    <span class="with-notif">Акции<span class="notif-sum">2</span></span>
                </span>
            </a>
            <a href="" class="active">
                <span class="tab-wrap">
                    <span class="with-notif">Новости<span class="notif-sum">13</span></span>
                </span>
            </a>
            <a href=""  class="">
                <span class="tab-wrap">
                    <span>Избранное</span>
                </span>
            </a>
        </nav>
        <!-- Основной блок -->
        <div class="main-section">
            <section class="news-block">
                <gms-items ng-repeat="item in news  | orderBy: 'id'"></gms-items>
            </section>
        </div>      
    </div>
</div>
