<div class="page">

    <!-- Шапка с навигацией -->
    <div class="main-menu">
        <a href="" class="btn-menu has-notif open-panel">
            <span class="btn-menu-lines"></span>
        </a>
        <div class="brand-logo"><img src="img/blank-logo.png" height="100" width="376" alt=""></div>
        <a href="" class="btn-synch gms-synch-icon"></a>
    </div>
    
    <div class="page-with-head page-content">
        <!-- Основной блок -->
        <div class="main-section">
            <section class="messages-block" ui-view>
                <article class="item">
                    <a href="#!/messages/:id" ui-sref=".id" class="link-detail"></a>
                    <div class="desc">
                        <div class="date with-icon"><i class="gms-date-icon"></i>29 марта 2015</div>
                        <div class="text">Мы очень рады что вы решили узнать бла бла бла про эту проблему. Да, клуб на такой-то улице временно не работает. Да, вы правы, это не хорошо и не справедливо. Но вы поймите, там канализацию прорвало, неужели вам хочется заниматься фитнесом при таком запахе? Нам нет. И вам советуем туда не идти и подождать. Спасибо за робращение.</div>
                        <div class="text signature">Мы думаем о вас. <br>Администратор Алексей.</div>
                    </div>
                </article>
            </section>
        </div>      
    </div>
</div>
