<div class="page">

    <div class="page-content">
        <!-- Основной блок -->
        <div class="main-section settings-page ta-center">
            <div class="wrap">
                <div class="load-photo">
                    <i class="user-photo gms-user_nophoto-icon">
                        <!-- Для примера с загруженной фотографией профиля можно раскомментить нижний блок -->
                        <!-- <img src="http://lorempixel.com/output/sports-q-c-300-300-8.jpg" alt=""> -->
                    </i>
                    <a href="">Загрузить фото (не более 5мб)</a>
                </div>
                <div class="separator"></div>
                <div class="input-group">
                    <input type="email" placeholder="Ваша почта">
                    <a href="" class="btn-synch gms-synch-icon right-icon c-main1"></a>
                </div>
                <div class="input-group">
                    <input type="password" placeholder="Пароль">    
                </div>
                <a href="" class="link-form">Забыли пароль?</a>
                <div class="separator"></div>
                <div class="input-group required">
                    <input type="text" placeholder="Имя" required>
                </div>
                <div class="input-group required">
                    <input type="text" placeholder="Фамилия" required>
                </div>
                <div class="input-group required">
                    <input type="tel" placeholder="" required>
                </div>
                <div class="input-group">
                    <input type="text" placeholder="Номер фитнес карты">
                </div>
                <div class="input-group switch-input">
                    <input type="radio" class="switch-change" name="gender" id="male" checked>
                    <label for="male">М</label>
                    <input type="radio" class="switch-change" name="gender" id="female">
                    <label for="female">Ж</label>
                </div>
                <div class="input-group">
                    <input type="text" placeholder="Дата рождения">
                </div>
                <div class="input-group">
                    <div class="select">
                        <select name="" id="">
                            <option value="">Город</option>
                            <option value="">Город1</option>
                            <option value="">Город2</option>
                        </select>
                    </div>
                </div>
                <div class="input-group">
                    <div class="select">
                        <select name="" id="">
                            <option value="">Клуб</option>
                            <option value="">Клуб1</option>
                            <option value="">Клуб2</option>
                        </select>
                    </div>
                </div>
                <div class="input-group">
                    <div class="select">
                        <select name="" id="">
                            <option value="">Направление</option>
                            <option value="">Направление1</option>
                            <option value="">Направление2</option>
                        </select>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="text-label">Предпочтительное время для&nbsp;тренировок</div>
                <div class="input-group time-range">
                    <div class="range">
                        <input type="text">
                    </div>
                    <div>&mdash;</div>
                    <div class="range">
                        <input type="text">
                    </div>
                </div>
                <div class="text-label">Предпочтительные дни для&nbsp;тренировок</div>
                <div class="input-group checkdays">
                    <input type="checkbox" class="checkday" id="chd1">
                    <label for="chd1">Пн.</label>
                    <input type="checkbox" class="checkday" id="chd2">
                    <label for="chd2">Вт.</label>
                    <input type="checkbox" class="checkday" id="chd3">
                    <label for="chd3">Ср.</label>
                    <input type="checkbox" class="checkday" id="chd4">
                    <label for="chd4">Чт.</label>
                    <input type="checkbox" class="checkday" id="chd5">
                    <label for="chd5">Пт.</label>
                    <input type="checkbox" class="checkday" id="chd6">
                    <label for="chd6">Сб.</label>
                    <input type="checkbox" class="checkday" id="chd7">
                    <label for="chd7">Вс.</label>
                </div>
                <div class="input-group checkbox-group">
                    <input type="checkbox" id="ch1">
                    <label for="ch1">Согласен на обработку персональных данных</label>
                </div>
            </div>
            <div class="wrap">
                <button type="submit">Регистрация</button>
            </div>
        </div>
            
    </div>
</div>
