<div class="main-section voting-page">
    <form action="">
        <div class="item-detail">
            <div class="wrap">
                <div class="date with-icon"><i class="gms-date-icon"></i>29 марта 2015</div>
                <div class="title">Оцените работу нашего клуба</div>
            </div>
            <div class="wrap-main">
                <textarea name="" id="" placeholder="Ваш ответ"></textarea>
                <button type="submit">Ответить</button>
                <div class="ta-center">
                    <a href="" class="link-form">Не подскажу</a>
                </div>
            </div>
        </div>
    </form>
</div>