
<div class="view view-main">
    <div class="pages">
        <div class="page">
            
            <div class="page-with-head page-content" ui-view>

            </div>
        </div>
    </div>
</div>
