<!-- Panels overlay-->
<div class="panel-overlay"></div>
<!-- Left panel with reveal effect-->
<div class="panel panel-left panel-cover nav-menu">
    <div class="wrap">
        <div class="ta-center">
            <a href="" class="user-photo">
                <img src="img/user-photo-blank.jpg" height="212" width="212" alt="">
            </a>
            <div class="name">Елена Устименко</div>
            <nav class="nav-list">
                <a href="#!/news" ui-sref="news" class="with-notif">Новости и акции<span class="notif-sum">9</span></a>
                <a href="#!/schedule" ui-sref="schedule" class="with-notif">Расписание<span class="notif-sum">13</span></a>
                <a href="#!/messages" ui-sref="messages" class="with-notif">Сообщения<span class="notif-sum">9</span></a>
                <a href="#!/feedback" ui-sref="feedback">Написать нам</a>
                <a href="#!/settings" ui-sref="settings">Настройки</a>
                <a href="#!/about" ui-sref="about">О клубе</a>
            </nav>
            <a href="tel:+1234567890" class="action-link"><span><i class="gms-call-icon"></i>Позвонить в клуб</span></a>
            <a href="" class="action-link"><span><i class="gms-barcode-icon"></i>Клубная карта</span></a>
            <a href="" class="action-link"><span>Wi-Fi в зале</span></a>
        </div>
    </div>
</div>
<!-- Шапка с навигацией -->
<div class="main-menu">
    <a href="" class="btn-menu has-notif open-panel">
        <span class="btn-menu-lines"></span>
    </a>
    <div class="brand-logo"><img src="img/blank-logo.png" height="100" width="376" alt=""></div>
    <a href="" class="btn-synch gms-synch-icon"></a>
</div>