@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900italic&subset=cyrillic,latin);
/*==========  Gymse fonts variables  ==========*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@font-face {
  font-family: 'gymse';
  src: url('../../fonts/icons/gymse.eot?-a8dade');
  src: url('../../fonts/icons/gymse.eot?#iefix-a8dade') format('embedded-opentype'), url('../../fonts/icons/gymse.ttf?-a8dade') format('truetype'), url('../../fonts/icons/gymse.woff?-a8dade') format('woff'), url('../../fonts/icons/gymse.svg?-a8dade#gymse') format('svg');
  font-weight: normal;
  font-style: normal; }

.gms-font, [class^="gms-"], [class*=" gms-"], input[type="checkbox"]:not([class]) + label:after, .select-filter:before, .item-message .user-photo:before, .slider-branch .arrows .sl-arrow-prev:before, .slider-branch .arrows .sl-arrow-next:before {
  font-family: 'gymse';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.gms-synch-icon:before {
  content: "\e600"; }

.gms-user_nophoto-icon:before {
  content: "\e601"; }

.gms-user_mess_nophoto-icon:before {
  content: "\e602"; }

.gms-arrow_left-icon:before {
  content: "\e603"; }

.gms-arrow_right-icon:before {
  content: "\e604"; }

.gms-barcode-icon:before {
  content: "\e605"; }

.gms-call-icon:before {
  content: "\e606"; }

.gms-check_checked-icon:before {
  content: "\e607"; }

.gms-date-icon:before {
  content: "\e608"; }

.gms-geo-icon:before {
  content: "\e609"; }

.gms-message-icon:before {
  content: "\e60a"; }

.gms-phone-icon:before {
  content: "\e60b"; }

.gms-send-icon:before {
  content: "\e60c"; }

.gms-star-icon:before {
  content: "\e60d"; }

.gms-filter-icon:before {
  content: "\e60e"; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, fieldset, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%; }

html, body {
  max-width: 1080px;
  height: 100%; }

html {
  -webkit-user-select: none;
  user-select: none;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  background-color: #f5fbff;
  margin: 0;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }
  body > .ng-scope {
    height: 100%; }

a, button, :focus, a:focus, button:focus, a:active, a:hover {
  outline: 0; }

a {
  text-decoration: none;
  border-bottom: 0.285vw solid; }

.ib {
  display: inline-block; }

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }

.flex-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }

.flex-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end; }

.flex-just-btw {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.ta-center {
  text-align: center; }

/*==========  Заголовки, тексты  ==========*/
.title {
  line-height: 1.25;
  font-size: 5.926vw;
  font-weight: 100; }

.sign {
  line-height: 1.3;
  font-size: 2.778vw; }

p {
  line-height: 1.25;
  margin: 1.3em 0; }

.text {
  line-height: 1.3;
  font-size: 3.704vw; }

/*==========  Колонки  ==========*/
.col-2 > *, .w-2 {
  width: 50%; }

.col-3 > *, .w-3 {
  width: 33.33%; }

.col-4 > *, .w-4 {
  width: 25%; }

.col-5 > *, .w-5 {
  width: 20%; }

.col-6 > *, .w-6 {
  width: 16.67%; }

.col-7 > *, .w-7 {
  width: 14.29%; }

.col-8 > *, .w-8 {
  width: 12.5%; }

/*==========  Разделитель  ==========*/
.separator {
  position: relative;
  max-width: 33.333vw;
  height: 1px;
  margin: 6.944vw auto; }
  .separator:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 21%;
    height: 0.463vw;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }

/*==========  Фотография пользователя  ==========*/
.userphoto, .nav-menu .user-photo, .load-photo .user-photo {
  display: inline-block;
  position: relative;
  border: 0.556vw solid;
  border-radius: 50%;
  overflow: hidden; }
  .userphoto img, .nav-menu .user-photo img, .load-photo .user-photo img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 50%; }

/*==========  Счетчик уведомлений  ==========*/
.with-notif .notif-sum {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.notif-sum {
  display: inline-block;
  position: absolute;
  top: 1.111vw;
  right: 0;
  min-width: 3.519vw;
  line-height: 2.963vw;
  border-radius: 0.741vw;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2.037vw;
  font-weight: 400;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s; }

/*==========  Фиксированное изображение  ==========*/
.fix-image {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

/*==========  Текст с иконкой  ==========*/
.with-icon {
  position: relative;
  padding-left: 3.241vw; }
  .with-icon i {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 80%; }

/*==========  Ellips  ==========*/
.ellipsis:before {
  content: "";
  float: left;
  width: 0.463vw;
  height: 100%; }
.ellipsis:after {
  content: "\02026";
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), white 50%, white);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
  position: relative;
  right: 0;
  bottom: 0;
  width: 3em;
  padding-right: 0.926vw;
  text-align: right;
  box-sizing: border-box; }
.ellipsis > *:first-child {
  float: right;
  width: 100%;
  margin-left: -0.463vw; }
.ellipsis p {
  margin: 0;
  padding: 0; }

/*==========  Голосование  ==========*/
.voting {
  font-size: 0; }
  .voting .change-voting {
    direction: rtl; }
  .voting label {
    display: inline-block;
    padding: 0 0.27em;
    font-size: 6.667vw;
    cursor: pointer; }
    .voting label i {
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
    .voting label:first-of-type {
      padding-right: 0 !important; }
    .voting label:last-of-type {
      padding-left: 0 !important; }

/*==========  Ссылка заполнитель блока  ==========*/
.link-detail {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
  z-index: 1; }

/*==========  Ссылки в формах  ==========*/
.link-form {
  display: inline-block;
  font-size: 3.704vw; }

.page-with-head {
  padding-top: 15.556vw; }

.main-section {
  padding: 4.444vw; }
  .main-section > .wrap, .main-section .wrap-main {
    max-width: 75%;
    margin: 0 auto; }

input, textarea {
  outline: none; }

input[type="radio"], input[type="checkbox"] {
  display: none; }

.input-style, input[type="text"], input[type="password"], input[type="email"], input[type="tel"], textarea, .switch-input, .select select {
  min-height: 9.444vw;
  margin: 0;
  border: 0.285vw solid;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 4.63vw; }

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], textarea {
  padding: 1.481vw 3.241vw;
  width: 100%; }

textarea {
  resize: none;
  min-height: 59.722vw; }

::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

/*==========  Переключатель radio  ==========*/
.switch-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }

.switch-change + label {
  display: inline-block;
  width: 50%;
  min-height: 9.444vw;
  line-height: 9.444vw;
  border-left: 0.285vw solid;
  cursor: pointer; }
  .switch-change + label:first-of-type {
    border-left: none; }

/*==========  Радио и Checkbox кастомные  ==========*/
input[type="radio"]:not([class]) + label, input[type="checkbox"]:not([class]) + label {
  position: relative;
  padding-left: 2.15em;
  font-size: 3.704vw; }
  input[type="radio"]:not([class]) + label:before, input[type="radio"]:not([class]) + label:after, input[type="checkbox"]:not([class]) + label:before, input[type="checkbox"]:not([class]) + label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  input[type="radio"]:not([class]) + label:before, input[type="checkbox"]:not([class]) + label:before {
    width: 1.21em;
    height: 1.21em;
    border: 0.285vw solid; }
  input[type="radio"]:not([class]) + label:after, input[type="checkbox"]:not([class]) + label:after {
    left: 0.68em;
    width: 0.6em;
    height: 0.6em;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    opacity: 0; }
input[type="radio"]:not([class]):checked + label:after, input[type="checkbox"]:not([class]):checked + label:after {
  opacity: 1; }

input[type="checkbox"]:not([class]) + label {
  display: inline-block;
  padding-left: 2.85em;
  text-align: left; }
  input[type="checkbox"]:not([class]) + label:before, input[type="checkbox"]:not([class]) + label:after {
    border-radius: 0; }
  input[type="checkbox"]:not([class]) + label:before {
    width: 1.1em;
    height: 1.1em; }
  input[type="checkbox"]:not([class]) + label:after {
    content: "\e607";
    background: none;
    left: 1.05em;
    width: auto;
    height: auto; }
input[type="checkbox"]:not([class]):checked + label:after {
  background: none !important;
  font-size: 60%;
  opacity: 1; }

/*==========  Обертка для инпутов и положение иконок в них  ==========*/
.input-group {
  position: relative;
  margin-bottom: 4.074vw; }
  .input-group.required:before {
    content: '*';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-right: 2.315vw;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 4.63vw; }
  .input-group .left-icon, .input-group .right-icon {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-right: 0.926vw;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .input-group .right-icon {
    left: 100%;
    right: auto;
    margin-right: 0;
    margin-left: 0.926vw; }

/*==========  Селект  ==========*/
select {
  width: 100%;
  min-height: inherit;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: inherit;
  color: inherit; }

.select {
  position: relative; }
  .select:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 2.778vw;
    width: 0.285vw;
    border-top: 0.833vw solid;
    border-left: 0.648vw solid transparent;
    border-right: 0.648vw solid transparent;
    border-radius: 1.481vw;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .select select {
    padding: 1.481vw 3.241vw;
    padding-right: 7.037vw;
    color: inherit; }

.select-filter {
  position: relative;
  font-size: 6.667vw; }
  .select-filter:before {
    content: "\e60e";
    position: absolute;
    top: 50%;
    left: 2.778vw;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 65%; }
  .select-filter select {
    min-height: 11.204vw;
    border: 0.285vw solid;
    border-bottom: 0.556vw solid;
    padding-left: 10.185vw;
    border-radius: 0 0 2px 2px;
    text-align: center;
    text-indent: -0.08em;
    font-size: inherit;
    color: inherit; }

/*==========  Диапазон времени  ==========*/
.time-range {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .time-range .range {
    width: 40%; }

/*==========  Чек дней  ==========*/
.checkdays {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .checkdays label {
    background-color: transparent;
    width: 2.3em;
    height: 2.3em;
    line-height: 2.3em;
    border-radius: 50%;
    text-indent: 0.05em;
    font-size: 3.704vw;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }

button, .button, input[type="submit"] {
  width: 100%;
  min-height: 10.185vw;
  border: 0.285vw solid;
  border-bottom: 0.556vw solid;
  border-radius: 0 0 2px 2px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 6.667vw;
  cursor: pointer; }
  button.with-icon span, .button.with-icon span, input[type="submit"].with-icon span {
    position: relative;
    padding-left: 3.704vw; }
  button.with-icon i, .button.with-icon i, input[type="submit"].with-icon i {
    font-size: 63%; }

.btn-light {
  border-top: none;
  border-left: none;
  border-right: none; }

.arrow-next {
  display: inline-block;
  position: relative; }
  .arrow-next:after {
    content: '\2192';
    position: absolute;
    left: 100%;
    padding-left: 1%; }

.btn-send {
  position: relative;
  min-height: 9.259vw;
  padding: 0 6.481vw;
  border: none;
  text-align: left;
  font-size: 3.704vw; }

.main-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 15.556vw;
  padding: 0 4.444%;
  box-shadow: 0 0.5vw 1vw;
  z-index: 777; }
  .main-menu nav {
    display: none; }
  .main-menu .brand-logo {
    width: 34.722vw; }
    .main-menu .brand-logo img {
      width: 100%;
      height: auto; }

/*==========  Кнопка меню  ==========*/
.btn-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 8.704vw;
  height: 8.704vw;
  padding: 2.5vw 1.852vw;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .btn-menu:before {
    content: '';
    position: absolute;
    top: 1.97818vw;
    right: 0.79127vw;
    width: 2.315vw;
    height: 2.315vw;
    border-radius: 50%;
    z-index: 5;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .btn-menu.has-notif:before {
    opacity: 1; }

.btn-menu-lines {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 0.55617vw;
  margin: auto; }
  .btn-menu-lines:before, .btn-menu-lines:after {
    content: '';
    background-color: inherit;
    position: absolute;
    width: 100%;
    height: inherit; }
  .btn-menu-lines:before {
    top: -1.32885vw; }
  .btn-menu-lines:after {
    top: 1.45067vw; }

/*-----  End of Кнопка меню  ------*/
.btn-synch {
  padding: 1.48213vw 1.85267vw;
  border: none;
  font-size: 4.259vw; }

/*==========  Левое навигационное меню  ==========*/
.nav-menu {
  background: none;
  width: 80%;
  font-size: 4.63vw;
  overflow: hidden; }
  .nav-menu .wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 15.556vw;
    padding: 4.444vw 0;
    overflow: auto; }
  .nav-menu .user-photo {
    width: 19.63vw;
    height: 19.63vw;
    margin-bottom: 3.704vw; }
  .nav-menu .name {
    padding: 0 4.63vw;
    margin-bottom: 5.556vw; }
  .nav-menu .nav-list {
    margin-bottom: 6.019vw; }
    .nav-menu .nav-list a {
      display: block;
      position: relative;
      margin-bottom: 0.285vw;
      border: none;
      line-height: 13.889vw; }
      .nav-menu .nav-list a:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 7.407vw;
        height: 0.285vw;
        margin: 0 auto; }
      .nav-menu .nav-list a .notif-sum {
        top: 50%;
        right: 13%;
        min-width: 5.556vw;
        line-height: 4.167vw;
        border-radius: 1.296vw;
        font-size: 2.778vw; }
  .nav-menu .action-link {
    display: block;
    margin-bottom: 3.241vw;
    border: none;
    line-height: 13.889vw;
    text-align: left; }
    .nav-menu .action-link span {
      padding-left: 16.6%; }
    .nav-menu .action-link i {
      padding-right: 2.778vw;
      vertical-align: middle; }

.panel-overlay {
  top: 15.556vw; }

/*==========  Переопределение стилей для framework7  ==========*/
.panel-overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s; }

body.with-panel-left-cover .panel-overlay, body.with-panel-right-cover .panel-overlay {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.panel.panel-left.panel-cover.nav-menu {
  left: -80%; }

body.with-panel-left-cover .panel-left.nav-menu {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 3.704vw;
  min-height: 13.611vw;
  font-size: 5vw;
  font-weight: 100;
  border-bottom: 0.285vw solid; }
  .tabs a {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    word-break: break-word;
    padding: 3.704vw 0.463vw;
    border-bottom: none;
    border-left: 0.285vw solid;
    text-align: center; }
    .tabs a:first-of-type {
      border-left: none; }
    .tabs a .tab-wrap {
      display: block;
      width: 100%; }
      .tabs a .tab-wrap > span {
        position: relative;
        display: inline-block;
        padding: 0 2.037vw; }
  .tabs.tabs-week {
    min-height: 17.87vw; }
    .tabs.tabs-week a {
      padding: 2.778vw 0.463vw; }
      .tabs.tabs-week a span {
        display: block;
        padding: 0; }
    .tabs.tabs-week .weekday {
      margin-bottom: 0.2em; }

.desc-item, .item .desc, .item-detail .wrap {
  padding: 4.63vw 8.333vw 3.704vw 10.185vw; }

.date-item, .item .date, .item-detail .date {
  margin-left: -3.241vw;
  margin-bottom: 1.35em; }

.item {
  position: relative;
  margin-bottom: 4.63vw;
  box-shadow: 0 1px 0.285vw; }
  .item .title {
    margin-bottom: 0.2em;
    font-size: 4.63vw;
    font-weight: 300; }
  .item .text {
    line-height: 1.3;
    font-size: 3.704vw; }
  .item .signature {
    margin-top: 1.35em; }

.item-detail .wrap {
  padding-top: 0;
  padding-right: 3.704vw; }
  .item-detail .wrap p {
    font-size: 3.704vw; }
.item-detail .date {
  margin-bottom: 2.778vw; }
.item-detail .sign {
  margin-bottom: 4.63vw; }

.article-message .desc:last-of-type {
  padding-bottom: 0; }

.item-message {
  position: relative;
  padding-left: 14.352vw;
  margin-bottom: 5.556vw; }
  .item-message:last-of-type {
    margin-bottom: 4.167vw; }
  .item-message .user-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 9.259vw;
    height: 9.259vw;
    overflow: hidden;
    border-radius: 50%;
    font-size: 3.889vw;
    z-index: 1; }
    .item-message .user-photo:before {
      content: "\e602";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate3d(-50%, -50%, 0);
      transform: translate3d(-50%, -50%, 0);
      z-index: -1; }
    .item-message .user-photo img {
      width: 100%;
      height: auto; }
  .item-message .name {
    margin-bottom: 0.75em;
    font-size: 3.704vw; }
  .item-message .date {
    margin-left: 0;
    margin-bottom: 1em; }

.enter-text-message {
  position: relative;
  white-space: nowrap;
  padding-bottom: 1px;
  overflow: hidden;
  font-size: 0; }
  .enter-text-message.active button {
    padding-left: 2.778vw;
    padding-right: 2.778vw;
    width: 25.463vw; }
  .enter-text-message.active textarea::-webkit-input-placeholder {
    opacity: 1; }
  .enter-text-message textarea {
    display: inline-block;
    padding-top: 2.037vw;
    padding-right: 26.389vw;
    height: auto;
    min-height: 9.259vw;
    vertical-align: top;
    font-size: 3.704vw; }
    .enter-text-message textarea::-webkit-input-placeholder {
      opacity: 0;
      -webkit-transition: opacity 0.7s;
      transition: opacity 0.7s;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  .enter-text-message button {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.feedback-page button {
  margin-top: 8.333vw; }
.feedback-page .link-form {
  margin-top: 6.019vw; }

[ui-view="content"] {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 50; }

.main {
  width: 100%;
  height: 100%; }
  .main.start-page {
    background: url("../../img/bg-auth-page.jpg") no-repeat top center;
    background-size: 100%;
    padding: 25.185% 13.796% 14.444%; }
  .main .form-auth {
    padding: 12.788% 12.02% 15.985%;
    border: 1.111vw solid; }
    .main .form-auth .logo {
      margin-bottom: 22.807%; }
      .main .form-auth .logo img {
        width: 39.298%;
        height: auto; }
      .main .form-auth .logo .label {
        margin-top: 4.386%;
        line-height: 1.5;
        font-size: 2.593vw; }
    .main .form-auth .bottom-link {
      margin-top: 22.807%; }
      .main .form-auth .bottom-link a, .main .form-auth .bottom-link p {
        font-size: 3.704vw; }
      .main .form-auth .bottom-link p {
        margin-top: 10.526%;
        margin-bottom: 8.772%; }

.settings-page {
  font-size: 3.704vw; }
  .settings-page .text-label {
    margin-bottom: 1.7em; }
  .settings-page .time-range {
    margin-bottom: 8.333vw; }
  .settings-page .checkdays {
    margin-bottom: 12.037vw; }
  .settings-page .checkbox-group {
    margin-left: -10%;
    margin-right: -10%;
    margin-bottom: 10.185vw; }

.load-photo .user-photo {
  width: 27.315vw;
  height: 27.315vw;
  margin-bottom: 3.241vw;
  font-size: 15.741vw; }
  .load-photo .user-photo:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }
.load-photo a {
  display: block;
  border: none;
  font-size: 2.778vw; }

.item-news .image-news {
  height: 15.741vw; }
.item-news.item-voting .text {
  padding-right: 3.241vw; }
.item-news.item-voting .voting label {
  padding: 0 0.115em;
  font-size: 5.741vw; }

.date {
  font-size: 2.778vw; }

/*==================================================
=            Детальная страница новости            =
==================================================*/
.content-slider {
  margin-left: -4.444vw;
  margin-right: -4.444vw;
  margin-bottom: 2.778vw; }
  .content-slider .swiper-slide {
    width: 91%;
    padding-right: 0.741vw; }
    .content-slider .swiper-slide img {
      width: 100%;
      height: auto; }

/*-----  End of Детальная страница новости  ------*/
.filter-page .select-filter {
  margin-bottom: 6.019vw; }

.item-filter {
  margin-bottom: 3.704vw; }
  .item-filter .desc {
    padding-right: 2.778vw; }
  .item-filter .info-desc {
    max-width: 80%; }
  .item-filter .info-time .title {
    margin-left: -0.08em; }
  .item-filter .dur {
    position: relative;
    padding-top: 2.037vw;
    font-size: 2.778vw; }
    .item-filter .dur:before {
      content: '';
      position: absolute;
      left: 0;
      top: -0.37vw;
      width: 74%;
      height: 0.285vw; }
  .item-filter .more-info {
    font-size: 3.241vw; }
  .item-filter .text {
    line-height: 1.25;
    font-size: 4.167vw; }
  .item-filter .more-info {
    margin-bottom: 3.704vw; }
    .item-filter .more-info > div {
      margin-bottom: 0.8em; }
  .item-filter .tags {
    margin-bottom: 2.778vw; }

.tags {
  font-size: 0; }
  .tags .tag {
    display: inline-block;
    position: relative;
    margin-right: 1.481vw;
    margin-bottom: 0.926vw;
    padding: 0.741vw;
    padding-left: 3.333vw;
    padding-right: 1.111vw;
    border: none;
    border-radius: 0.741vw;
    font-size: 2.315vw; }
    .tags .tag:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0.833vw;
      width: 1.667vw;
      height: 1.667vw;
      border-radius: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .tags .tag:last-of-type {
      margin-right: 0; }

.voting-page .title {
  margin-bottom: 1.15em; }
.voting-page .wrap {
  padding-bottom: 0; }
.voting-page button {
  margin-top: 10.185vw; }
.voting-page .voting {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-item: center; }
  .voting-page .voting .mark-voting {
    margin-left: 0.85em;
    font-size: 6.667vw; }
.voting-page .link-form {
  margin-top: 1.85em; }
.voting-page .radio-group {
  margin-bottom: 6.019vw; }
  .voting-page .radio-group:last-of-type {
    margin-bottom: 0; }

.about-page {
  padding-top: 6.019vw; }
  .about-page .wrap {
    max-width: none;
    padding-left: 10.185vw;
    margin-bottom: 4.63vw; }
  .about-page .with-icon {
    margin-bottom: 2.4em;
    padding-left: 2.17em;
    font-size: 3.704vw; }
    .about-page .with-icon i {
      top: 0.4em;
      -webkit-transform: none;
      transform: none; }
  .about-page a.with-icon {
    display: inline-block;
    border-bottom: none; }
    .about-page a.with-icon span {
      border-bottom: 0.285vw solid; }
  .about-page .phones {
    margin-bottom: 4.63vw; }
    .about-page .phones a {
      display: inline-block;
      margin-bottom: 0.7em;
      border: none; }

.slider-branch {
  position: relative; }
  .slider-branch .swiper-slide img {
    width: 100%;
    height: auto; }
  .slider-branch .nav-slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 12.037vw;
    padding: 1.852vw 4.444vw;
    z-index: 5; }
  .slider-branch .club-name {
    width: 100%;
    padding-right: 24.815vw;
    font-size: 3.704vw; }
  .slider-branch .arrows {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 4.444vw;
    min-width: 20.37vw;
    padding: 0 6.019vw;
    text-align: center;
    font-size: 3.704vw;
    font-weight: normal; }
    .slider-branch .arrows .sl-arrow-prev, .slider-branch .arrows .sl-arrow-next {
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 1.852vw;
      border-bottom: none;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      color: inherit; }
      .slider-branch .arrows .sl-arrow-prev:before, .slider-branch .arrows .sl-arrow-next:before {
        content: "\e603"; }
    .slider-branch .arrows .sl-arrow-next {
      left: auto;
      right: 1.852vw; }
      .slider-branch .arrows .sl-arrow-next:before {
        content: "\e604"; }
    .slider-branch .arrows .num-sl {
      width: 100%; }

/*========================================
=            Глобальные стили            =
========================================*/
body {
  color: #1f1f1d; }

a {
  color: #1f1f1d; }

/*==========  Заголовки, тексты  ==========*/
.sign {
  color: #487fa3; }

.text {
  color: #1f1f1d; }

/*==========  Разделитель  ==========*/
.separator {
  background-color: rgba(0, 171, 223, 0.3); }
  .separator:before {
    background-color: #00abdf; }

/*==========  Счетчик уведомлений  ==========*/
.notif-sum {
  background-color: #f95e5e;
  color: #fff; }

/*==========  Голосование  ==========*/
.voting .voting-radio:checked + label, .voting .voting-radio:checked + label ~ label {
  color: #ffcd62; }
.voting label {
  color: #00abdf; }
  .voting label:hover, .voting label:hover ~ label {
    color: #ffcd62; }

/*==========  Цвет текста  ==========*/
.c-main1 {
  color: #70c7ff !important; }

.c-second1 {
  color: #ffcd62 !important; }

.c-gray {
  color: #dfdfdf !important; }

/*-----  End of Глобальные стили  ------*/
/*==============================
=            Кнопки            =
==============================*/
button, .button, input[type="submit"] {
  background-color: #00abdf;
  border-color: #6bb8eb;
  color: #fff; }

.btn-light {
  background-color: #fff;
  color: #6bb8eb; }

/*-----  End of Кнопки  ------*/
/*==============================
=            Инпуты            =
==============================*/
.input-style, input[type="text"], input[type="password"], input[type="email"], input[type="tel"], textarea, .switch-input, .select select {
  background-color: #fff;
  border-color: #00abdf; }

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], textarea {
  color: #1f1f1d; }
  .start-page input[type="text"], .start-page input[type="password"], .start-page input[type="email"], .start-page input[type="tel"], .start-page textarea {
    background-color: #589bc6;
    border-color: #4f7e9d;
    color: #fff; }

::-webkit-input-placeholder {
  color: #70c7ff; }
  .start-page ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6); }

/*==========  Переключатель radio  ==========*/
.switch-change + label {
  border-color: #00abdf;
  color: #00abdf; }
.switch-change:checked + label {
  background-color: #00abdf;
  color: #fff; }

/*==========  Радио и Checkbox кастомные  ==========*/
input[type="radio"]:not([class]) + label:before, input[type="checkbox"]:not([class]) + label:before {
  background-color: #fff;
  border-color: #00abdf; }
input[type="radio"]:not([class]) + label:after, input[type="checkbox"]:not([class]) + label:after {
  background-color: #00abdf; }
input[type="radio"]:not([class]):checked + label:before, input[type="checkbox"]:not([class]):checked + label:before {
  border-color: #ffcd62; }
input[type="radio"]:not([class]):checked + label:after, input[type="checkbox"]:not([class]):checked + label:after {
  background-color: #ffcd62; }

input[type="checkbox"]:not([class]) + label:after {
  color: #00abdf; }
input[type="checkbox"]:not([class]):checked + label:before {
  border-color: #00abdf; }

/*==========  Обертка для инпутов и положение иконок в них  ==========*/
.input-group.required:before {
  color: #f95e5e; }

/*==========  Селект  ==========*/
.select {
  color: #70c7ff; }
  .select:before {
    border-top-color: #4f7e9d; }

.select-filter {
  color: #fff; }
  .select-filter select {
    background-color: #00abdf;
    border-color: #6bb8eb; }
  .select-filter.light {
    color: #6bb8eb; }
    .select-filter.light select {
      background-color: #fff; }

/*==========  Диапазон времени  ==========*/
.time-range {
  color: #00abdf; }

/*==========  Чек дней  ==========*/
.checkdays {
  color: #00abdf; }
  .checkdays .checkday:checked + label {
    background-color: #00abdf;
    color: #fff; }

/*-----  End of Инпуты  ------*/
/*====================================
=            Шапка и меню            =
====================================*/
.main-menu {
  background-color: #5a9fcc;
  color: rgba(0, 0, 0, 0.25); }

/*==========  Кнопка меню  ==========*/
.btn-menu:before {
  background-color: #f95e5e; }

.btn-menu-lines {
  background-color: #fff; }

.btn-synch {
  color: #fff; }

/*==========  Левое навигационное меню  ==========*/
.nav-menu .wrap {
  background-color: #70c7ff; }
.nav-menu .user-photo {
  border-color: #fff; }
.nav-menu .name {
  color: #fff; }
.nav-menu .nav-list a {
  color: #fff; }
  .nav-menu .nav-list a:active, .nav-menu .nav-list a.active-state {
    background-color: rgba(90, 169, 220, 0.5); }
  .nav-menu .nav-list a:before {
    background-color: #5aa9dc; }
.nav-menu .action-link {
  background-color: #5aa9dc;
  color: #fff; }

/*-----  End of Шапка и меню  ------*/
/*============================
=            Табы            =
============================*/
.tabs {
  background-color: #f5fbff;
  border-bottom-color: #5a9fcc; }
  .tabs a {
    border-left-color: #5a9fcc;
    color: #5a9fcc; }
    .tabs a.active {
      background-color: #fff; }
  .tabs.tabs-week a.active span {
    color: #1f1f1d; }
  .tabs.tabs-week .weekday {
    color: #5a9fcc; }
  .tabs.tabs-week .monthday {
    color: #ffcd62; }

/*-----  End of Табы  ------*/
/*=============================
=            Items            =
=============================*/
.item {
  background-color: #fff;
  color: #9facb5; }
  .item .desc, .item .text {
    color: #1f1f1d; }

/*-----  End of Items  ------*/
/*=================================
=            Сообщения            =
=================================*/
.item-message .user-photo {
  background-color: #5a9fcc;
  color: #fff; }

/*-----  End of Сообщения  ------*/
/*============================
=            Main            =
============================*/
.page {
  background-color: #f5fbff; }

/*==========  Start-page  ==========*/
.main .form-auth {
  border-color: #fff; }
  .main .form-auth .logo .label {
    color: #fff; }
  .main .form-auth .bottom-link a, .main .form-auth .bottom-link p {
    color: #fff; }

/*==========  Settings-page  ==========*/
.load-photo .user-photo {
  border-color: #70c7ff;
  color: #70c7ff; }
.load-photo a {
  color: #70c7ff; }

/*==========  News-s  ==========*/
.date {
  color: #5a9fcc; }

/*==========  Filter-s  ==========*/
.item-filter .dur:before {
  background-color: #ffcd62; }

.tags .tag {
  background-color: #ffcd62;
  color: #745616; }
  .tags .tag:before {
    background-color: #fff; }

/*==========  About-s  ==========*/
.slider-branch .nav-slider {
  background-color: rgba(88, 178, 235, 0.9); }
.slider-branch .club-name {
  color: #fff; }
.slider-branch .arrows {
  background-color: #fff;
  color: #70c7ff; }

/*-----  End of Main  ------*/