<div class="page">

    <!-- Шапка с навигацией -->
    <div class="main-menu">
        <a href="" class="btn-menu has-notif open-panel">
            <span class="btn-menu-lines"></span>
        </a>
        <div class="brand-logo"><img src="img/blank-logo.png" height="100" width="376" alt=""></div>
        <a href="" class="btn-synch gms-synch-icon"></a>
    </div>
    
    <div class="page-with-head page-content">
        <div class="swiper-container slider-branch">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/about-blank1.jpg" alt="">
                </div>
            </div>
            <div class="nav-slider">
                <div class="club-name ta-center">Клуб «WorldClass» на Маркса</div>
                <div class="arrows">
                    <a href="" class="sl-arrow-prev"></a>
                    <a href="" class="sl-arrow-next"></a>
                    <div class="num-sl">3</div>
                </div>
            </div>
        </div>
        <!-- Основной блок -->
        <div class="main-section about-page">
            <div class="wrap">
                <div class="phones with-icon">
                    <i class="gms-phone-icon"></i>
                    <div>
                        <a href="tel:+73912355689">235-56-89</a>
                    </div>
                    <div>
                        <a href="tel:+79267851256">8-926-785-12-56</a>
                    </div>
                </div>
                <a href="http://worldclass.ru" class="with-icon"><i class="gms-star-icon"></i><span>worldclass.ru</span></a>
                <div class="with-icon"><i class="gms-geo-icon"></i>ул. Карла Маркса 52, 1 этаж</div>
                <a href="" class="with-icon"><i class="gms-message-icon"></i><span>Оставить отзыв о работе</span></a>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
            <!-- Slider container -->
            <div class="swiper-container content-slider">
                <!-- Slides wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="img/blank-news-slider1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/blank-news-slider2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/blank-news-slider1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/blank-news-slider2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/blank-news-slider1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/blank-news-slider2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/blank-news-slider1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/blank-news-slider2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/blank-news-slider1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/blank-news-slider2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/blank-news-slider1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>
