<article class="item article-message">
    <div class="desc">
        <div class="date with-icon"><i class="gms-date-icon"></i>29 марта 2015</div>
        <div class="text">Мы очень рады что вы решили узнать бла бла бла про эту проблему. Да, клуб на такой-то улице временно не работает. Да, вы правы, это не хорошо и не справедливо. Но вы поймите, там канализацию прорвало, неужели вам хочется заниматься фитнесом при таком запахе? Нам нет. И вам советуем туда не идти и подождать. Спасибо за робращение.</div>
        <div class="text signature">Мы думаем о вас. <br>Администратор Алексей.</div>
    </div>
    <div class="desc">
        <div class="item-message">
            <div class="user-photo">
                <img src="img/user-photo-blank.jpg" alt="">
            </div>
            <div class="name">Елена Устименко</div>
            <div class="date with-icon"><i class="gms-date-icon"></i>29 марта <span class="c-gray">/</span> 17:19</div>
            <div class="text">Но как же так? У меня гафик, расписание:( Вы же обещали идеальную, бесперебойную работу клуба. Пичалька, что я мужу скажу? Как мне теперь быть? Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</div>
        </div>
        <div class="item-message">
            <div class="user-photo">
                <!-- <img src="img/user-photo-blank.jpg" alt=""> -->
            </div>
            <div class="name">Администратор Алексей</div>
            <div class="date with-icon"><i class="gms-date-icon"></i>29 марта <span class="c-gray">/</span> 20:00</div>
            <div class="text">Ээээм, я вам уже сказал что сожалеем, но клуб открыть в ближайшие дни не сможем. Следите за новостями. Но... на каком языке вы мне написали? В начале русский, а потом что за тарабарщина? Я в замешательстве...</div>
        </div>
    </div>
    <div class="enter-text-message">
        <textarea name="" id="" rows="1" placeholder="Введите ваше сообщение"></textarea>
        <button type="submit" class="btn-send btn-open-send with-icon"><span><i class="gms-send-icon"></i>Ответить</span></button>
    </div>
</article>