<div class="page">

    <!-- Шапка с навигацией -->
    <div class="main-menu">
        <a href="" class="btn-menu has-notif open-panel">
            <span class="btn-menu-lines"></span>
        </a>
        <div class="brand-logo"><img src="img/blank-logo.png" height="100" width="376" alt=""></div>
        <a href="" class="btn-synch gms-synch-icon"></a>
    </div>
    
    <div class="page-with-head page-content">
        <!-- Основной блок -->
        <div class="main-section feedback-page ta-center">
            <div class="wrap">
                <div class="input-group">
                    <input type="text" placeholder="Тема обращения">
                </div>
                <div class="input-group">
                    <textarea name="" id="" placeholder="Сообщение"></textarea>    
                </div>
                <div class="input-group">
                    <div class="select">
                        <select name="" id="">
                            <option value="">Обращение</option>
                            <option value="">Обращение1</option>
                            <option value="">Обращение2</option>
                        </select>
                    </div>
                </div>
                <div class="input-group">
                    <div class="select">
                        <select name="" id="">
                            <option value="">Администрация</option>
                            <option value="">Администрация1</option>
                            <option value="">Администрация2</option>
                        </select>
                    </div>
                </div>
                
                <button type="submit">Отправить</button>
                <a href="" class="link-form">В черновик</a>
            </div>
        </div>
            
    </div>
</div>
