<div class="main-section news-detail">
    <div class="item-detail">
        <div class="wrap">
            <div class="date with-icon"><i class="gms-date-icon"></i>29 марта 2015</div>
            <div class="title">У нас открылся новый зал и мы этому чертовски рады</div>
        </div>
        <!-- Slider container -->
        <div class="swiper-container content-slider">
            <!-- Slides wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="img/blank-news-slider1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/blank-news-slider2.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/blank-news-slider1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/blank-news-slider2.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/blank-news-slider1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/blank-news-slider2.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/blank-news-slider1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/blank-news-slider2.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/blank-news-slider1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/blank-news-slider2.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/blank-news-slider1.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="wrap">
            <div class="sign">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus.</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
            <p>Nventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>

        </div>
    </div>
</div>


