<div class="page">

    <!-- Шапка с навигацией -->
    <div class="main-menu">
        <a href="" class="btn-menu has-notif open-panel">
            <span class="btn-menu-lines"></span>
        </a>
        <div class="brand-logo"><img src="img/blank-logo.png" height="100" width="376" alt=""></div>
        <a href="" class="btn-synch gms-synch-icon"></a>
    </div>
    
    <div class="page-with-head page-content" ui-view>
        <nav class="tabs tabs-week col-7">
            <a href="" class="">
                <span class="tab-wrap">
                    <span class="weekday">Пн.</span>
                    <span class="monthday">23</span>
                </span>
            </a>
            <a href="" class="">
                <span class="tab-wrap">
                    <span class="weekday">Вт.</span>
                    <span class="monthday">24</span>
                </span>
            </a>
            <a href="" class="active">
                <span class="tab-wrap">
                    <span class="weekday">Ср.</span>
                    <span class="monthday">25</span>
                </span>
            </a>
            <a href="" class="">
                <span class="tab-wrap">
                    <span class="weekday">Чт.</span>
                    <span class="monthday">26</span>
                </span>
            </a>
            <a href="" class="">
                <span class="tab-wrap">
                    <span class="weekday">Пт.</span>
                    <span class="monthday">27</span>
                </span>
            </a>
            <a href="" class="">
                <span class="tab-wrap">
                    <span class="weekday">Сб.</span>
                    <span class="monthday">28</span>
                </span>
            </a>
            <a href="" class="">
                <span class="tab-wrap">
                    <span class="weekday">Вс.</span>
                    <span class="monthday">29</span>
                </span>
            </a>
        </nav>
        <!-- Основной блок -->
        <div class="main-section filter-page">
            <div class="select-filter light">
                <select name="" id="" >
                    <option value="">Растяжка</option>
                    <option value="">Растяжка1</option>
                    <option value="">Растяжка2</option>
                </select>
            </div>
            <section class="filter-desc">
                <article class="item item-filter">
                    <div class="desc">
                        <div class="date with-icon"><i class="gms-date-icon"></i>29 марта 2015</div>
                        <div class="d-flex flex-just-btw">
                            <div class="info-desc">
                                <div class="title">Body Condition <span class="c-second1">/</span> растяжка</div>
                                <div class="more-info">
                                    <div class="trainer-name">Тренер Михаил Трумов</div>
                                    <div class="hall">Зал такой-то</div>
                                </div>
                                <div class="tags">
                                    <a href="" class="tag">тянуть руки</a>
                                    <a href="" class="tag">тянуть ноги</a>
                                    <a href="" class="tag">тянуть голову</a>
                                </div>
                                <div class="text">Силовой урок направленный на тренировку всех групп мышц.</div>        
                            </div>
                            <div class="info-time">
                                <div class="title">18:00</div>
                                <div class="dur">55 мин</div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item item-filter">
                    <div class="desc">
                        <div class="date with-icon"><i class="gms-date-icon"></i>29 марта 2015</div>
                        <div class="d-flex flex-just-btw">
                            <div class="info-desc">
                                <div class="title">Body Condition <span class="c-second1">/</span> растяжка</div>
                                <div class="more-info">
                                    <div class="trainer-name">Тренер Михаил Трумов</div>
                                    <div class="hall">Зал такой-то</div>
                                </div>
                                <div class="tags">
                                    <a href="" class="tag">тянуть руки</a>
                                    <a href="" class="tag">тянуть ноги</a>
                                    <a href="" class="tag">тянуть голову</a>
                                </div>
                                <div class="text">Силовой урок направленный на тренировку всех групп мышц.</div>        
                            </div>
                            <div class="info-time">
                                <div class="title">18:00</div>
                                <div class="dur">55 мин</div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item item-filter">
                    <div class="desc">
                        <div class="date with-icon"><i class="gms-date-icon"></i>29 марта 2015</div>
                        <div class="d-flex flex-just-btw">
                            <div class="info-desc">
                                <div class="title">Body Condition <span class="c-second1">/</span> растяжка</div>
                                <div class="more-info">
                                    <div class="trainer-name">Тренер Михаил Трумов</div>
                                    <div class="hall">Зал такой-то</div>
                                </div>
                                <div class="tags">
                                    <a href="" class="tag">тянуть руки</a>
                                    <a href="" class="tag">тянуть ноги</a>
                                    <a href="" class="tag">тянуть голову</a>
                                </div>
                                <div class="text">Силовой урок направленный на тренировку всех групп мышц.</div>        
                            </div>
                            <div class="info-time">
                                <div class="title">18:00</div>
                                <div class="dur">55 мин</div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>      
    </div>
</div>
