<div class="main-section voting-page">
    <form action="">
        <div class="item-detail">
            <div class="wrap">
                <div class="date with-icon"><i class="gms-date-icon"></i>29 марта 2015</div>
                <div class="title">Ваша оценка новой беговой дорожке?</div>
                <div class="voting">
                    <div class="change-voting">
                        <input type="radio" name="voting" class="voting-radio" id="st5">
                        <label for="st5"><i class="gms-star-icon"></i></label>
                        <input type="radio" name="voting" class="voting-radio" id="st4">
                        <label for="st4"><i class="gms-star-icon"></i></label>
                        <input type="radio" name="voting" class="voting-radio" id="st3">
                        <label for="st3"><i class="gms-star-icon"></i></label>
                        <input type="radio" name="voting" class="voting-radio" id="st2">
                        <label for="st2"><i class="gms-star-icon"></i></label>
                        <input type="radio" name="voting" class="voting-radio" id="st1">
                        <label for="st1"><i class="gms-star-icon"></i></label>
                    </div>
                    <div class="mark-voting">
                        4 / 5
                    </div>
                </div>
            </div>
            <div class="wrap-main">
                <button type="submit">Ответить</button>
                <div class="ta-center">
                    <a href="" class="link-form">Не подскажу</a>
                </div>
            </div>
        </div>
    </form>
</div>


