<div class="main-section voting-page">
    <form action="">
        <div class="item-detail">
            <div class="wrap">
                <div class="date with-icon"><i class="gms-date-icon"></i>29 марта 2015</div>
                <div class="title">Оцените работу нашего клуба</div>
                <div class="customer-survey">
                    <div class="radio-group">
                        <input type="radio" name="voting1" id="vt1">
                        <label for="vt1">Все отлично!</label>
                    </div>
                    <div class="radio-group">
                        <input type="radio" name="voting1" id="vt2">
                        <label for="vt2">Хорошо</label>
                    </div>
                    <div class="radio-group">
                        <input type="radio" name="voting1" id="vt3">
                        <label for="vt3">Могло быть и лучше</label>
                    </div>
                    <div class="radio-group">
                        <input type="radio" name="voting1" id="vt4">
                        <label for="vt4">Плохо</label>
                    </div>
                    <div class="radio-group">
                        <input type="radio" name="voting1" id="vt5">
                        <label for="vt5">Отвратительно</label>
                    </div>
                </div>
            </div>
            <div class="wrap-main">
                <button type="submit">Ответить</button>
                <div class="ta-center">
                    <a href="" class="link-form">Не подскажу</a>
                </div>
            </div>
        </div>
    </form>
</div>


