<h1 class="title">Personal Data</h1>
<div class="pt20">
    <div class="form-group" show-errors>
        <div class="form-control-wrapper">
            <input type="text" class="form-control empty" name="name" ng-model="newUser.name" required>
            <div class="floating-label">Name</div>
            <span class="material-input"></span>
        </div>
    </div>
    <div class="form-group" show-errors>
        <div class="form-control-wrapper">
            <input type="text" class="form-control empty" name="lastname" ng-model="newUser.lastname" required>
            <div class="floating-label">Lastname</div>
            <span class="material-input"></span>
        </div>
    </div>
    <div class="form-group" show-errors>
        <div class="form-control-wrapper">
            <input type="date" class="form-control empty" name="birthday" ng-model="newUser.birthday" required>
            <div class="floating-label">Date</div>
            <span class="material-input"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="form-control-wrapper">
            <div class="radio radio-success radio-inline">
              <label>
                  <input type="radio" ng-model="newUser.gender" name="male" value="male" required>
                <span class="circle"></span>
                <span class="check"></span>
                Male
              </label>
            </div>
            <div class="radio radio-success radio-inline">
                <label>
                    <input type="radio" ng-model="newUser.gender" name="female" value="female" required>
                    <span class="circle"></span>
                    <span class="check"></span>
                    Female
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-control-wrapper">
            <textarea name="inform" class="fsorm-control empty" ng-model="newUser.inform"></textarea>
            <div class="floating-label">Additional Information</div>
            <span class="material-input"></span>
        </div>
    </div>
    <a class="btn btn-success" href="#/form/contact" ui-sref="form.contact">Next</a>
</div>
