<h1 class="title">Authorization</h1>
<div class="pt20">
    <div class="form-group" show-errors>
        <div class="form-control-wrapper">
            <input type="text" class="form-control empty"  name="login" ng-model="newUser.login" ng-pattern="validateLogin" ng-trim="false" required>
            <div class="floating-label">Login</div>
            <span class="material-input"></span>
        </div>
    </div>
    <div class="form-group" show-errors>
        <div class="form-control-wrapper">
            <input type="email" class="form-control empty" name="email" ng-model="newUser.email" ng-pattern="validateEmail" ng-trim="false" required >
            <div class="floating-label">Email</div>
            <span class="material-input"></span>
        </div>
    </div>
    <div class="form-group" show-errors>
        <div class="form-control-wrapper">
            <input type="password" class="form-control empty" name="pass" ng-model="newUser.password" ng-pattern="validatePassword" ng-trim="false" required>
<!--            <ul id="strength" check-strength="newUser.password"></ul>-->
            <div class="floating-label">Password</div>
            <span class="material-input"></span>
        </div>
    </div>
    <div class="form-group" show-errors>
        <div class="form-control-wrapper">
            <input type="password" class="form-control empty" name="confpass" ng-model="newUser.confpassword" compare-to="newUser.password" required >
            <div class="floating-label">Confirm password</div>
            <span class="material-input"></span>
        </div>
    </div>
    <a class="btn btn-success" href="#/form/personal" ui-sref="form.personal">Next</a>
<!--    <div class="form-group">-->
<!--        <input type="submit" progress-submit targetform="myStepForm" valid-text="valid" invalid-text="okda" class="form-control" >-->
<!--    </div>-->
</div>
