button,
.button,
input[type="submit"]{
    width: 100%;
    min-height: pconv(110, vw);
    border: pconv(2, vw) solid;
    border-bottom: pconv(6, vw) solid;
    border-radius: 0 0 2px 2px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: pconv(72, vw);
    cursor: pointer;
    &.with-icon{
        span{
            position: relative;
            padding-left: pconv(40, vw);
        }
        i{
            font-size: 63%;
        }
    }
}
.btn-light{
    border-top: none;
    border-left: none;
    border-right: none;
}
.arrow-next{
    display: inline-block;
    position: relative;
    &:after{
        content: '\2192';
        position: absolute;
        left: 100%;
        padding-left: 1%;
    }
}
.btn-send{
    position: relative;
    min-height: pconv($enter_msg_h, vw);
    padding: 0 pconv(70, vw);
    border: none;
    text-align: left;
    font-size: pconv(40, vw);
}