$main_color1: #70c7ff;
$main_color2: #00abdf;
$main_color3: #5a9fcc; 
$main_color4: #58b2eb;
$main_color_dark: #4f7e9d;

$second_color1: #ffcd62;
$second_color2: #745616;

$light_color: #fff;
$gray_color: #dfdfdf;

$text_c: #1f1f1d;
$date_c: $main_color3;
$date_sep_c: $gray_color;
$sign_c: #487fa3;

$back_bg: #f5fbff;

$header_bg: $main_color3;
$header_shadow: #000;
$notif_bullet_bg: #f95e5e;

$action_link_bg: #5aa9dc;
$nav_li_br: $action_link_bg;
$nav_text_c: $light_color;

$input_auth_bg: #589bc6;
$input_auth_br: $main_color_dark;
$input_bg: $light_color;
$input_br: $main_color2;
$input_placeholder: $main_color1;
$required_mark_c: #f95e5e;

$button_bg: $main_color2;
$button_bg_light: $light_color;
$button_br: #6bb8eb;

$voting_uncheck: $main_color2;
$voting_check: $second_color1;

$radio_uncheck: $input_br;
$radio_check: $second_color1;

$checkbox_c: $input_br;

$separator_c: $main_color2;

$tabs_bg: $back_bg;
$tab_link_c: $main_color3;
$tab_br: $main_color3;
$tab_active: $light_color;
$tab_week_active: $text_c;
$tab_weekday_c: $main_color3;
$tab_monthday_c: $second_color1;

$item_bg: $light_color;
$item_shadow: #9facb5;

$no_photo_bg: $main_color3;

$tag_bg: $second_color1;
$tag_c: $second_color2;

$about_title_c: $main_color4;



