$main_color1: #234A60;
$main_color2: #DF0000;
$main_color3: #E30712; 
$main_color4: #EB5858;
$main_color_dark: #9D4F4F;

$second_color1: #6C8A9C;
$second_color2: #9AACB6;

$light_color: #fff;
$gray_color: #dfdfdf;

$text_c: #1f1f1d;
$date_c: $main_color3;
$date_sep_c: $gray_color;
$sign_c: #487fa3;

$back_bg: #f5fbff;

$header_bg: $main_color3;
$header_shadow: #000;
$notif_bullet_bg: #6E8C9F;

$action_link_bg: #CF3737;
$nav_li_br: $action_link_bg;
$nav_text_c: $light_color;

$input_auth_bg: #C65858;
$input_auth_br: $main_color_dark;
$input_bg: $light_color;
$input_br: $main_color2;
$input_placeholder: $main_color1;
$required_mark_c: #11435C;

$button_bg: $main_color2;
$button_bg_light: $light_color;
$button_br: #EB6B6B;

$voting_uncheck: $second_color1;
$voting_check: $main-color2;

$radio_uncheck: $second_color1;
$radio_check: $main-color2;

$checkbox_c: $input_br;

$separator_c: $main_color2;

$tabs_bg: $main_color1;
$tab_link_c: $light_color;
$tab_br: $main_color1;
$tab_active: $main_color3;
$tab_week_active: $tab_link_c;
$tab_weekday_c: $main_color3;
$tab_monthday_c: $tab_link_c;

$item_bg: $light_color;
$item_shadow: #9facb5;

$no_photo_bg: $main_color3;

$tag_bg: $second_color1;
$tag_c: $light_color;

$about_title_c: $main_color4;

