$input_min_h: pconv(102, vw);
$textarea_min_h: pconv(645, vw);
$checkdays_size: 2.3em;

input,
textarea{
    outline: none;
}
input[type="radio"],
input[type="checkbox"]{
    display: none;
}
.input-style{
    min-height: $input_min_h;
    margin: 0;
    border: pconv(3, vw) solid;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: pconv(50, vw);
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea{
    @extend .input-style;
    padding: pconv(16, vw) pconv(35,vw);
    width: 100%;
    
}
textarea{
    resize: none;
    min-height: $textarea_min_h;
}
::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}



/*==========  Переключатель radio  ==========*/

.switch-input{
    display: flex;
    @extend .input-style;
}
.switch-change{
    & + label{
        display: inline-block;
        width: 50%;
        min-height: $input_min_h;
        line-height: $input_min_h;
        border-left: pconv(3, vw) solid;
        cursor: pointer;
        &:first-of-type{
            border-left: none;
        }
    }
}

/*==========  Радио и Checkbox кастомные  ==========*/

input[type="radio"]:not([class]),
input[type="checkbox"]:not([class]){
    & + label{
        position: relative;
        padding-left: 2.15em;
        font-size: pconv(40, vw);
        &:before,
        &:after{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            border-radius: 50%;
            // transition: all $globDur;
            transform: translateY(-50%);
        }
        &:before{
            width: 1.21em;
            height: 1.21em;
            border: pconv(3, vw) solid;
        }
        &:after{
            left: 0.68em;
            width: 0.6em;
            height: 0.6em;
            transform: translate3d(-50%, -50%, 0);
            opacity: 0;
        }
    }
    &:checked + label{
        &:after{
            opacity: 1;
        }
    }
}

input[type="checkbox"]:not([class]){
    & + label{
        display: inline-block;
        padding-left: 2.85em;
        text-align: left;
        &:before,
        &:after{
            border-radius: 0;
        }
        &:before{
            width: 1.1em;
            height: 1.1em;
        }
        &:after{
            @extend .gms-font;
            content: $gms-check_checked-icon;
            background: none;
            left: 1.05em;
            width: auto;
            height: auto;
        }
    }
    &:checked + label{
        &:after{
            background: none !important;
            font-size: 60%;
            opacity: 1;
        }
    }
}


/*==========  Обертка для инпутов и положение иконок в них  ==========*/

.input-group{
    position: relative;
    margin-bottom: pconv(44, vw);
    &.required{
        &:before{
            content: '*';
            position: absolute;
            top: 50%;
            right: 100%;
            margin-right: pconv(25, vw);
            transform: translateY(-50%);
            font-size: pconv(50, vw);
        }
    }

    .left-icon,
    .right-icon{
        position: absolute;
        top: 50%;
        right: 100%;
        margin-right: pconv(10,vw);
        transform: translateY(-50%);
    }
    .right-icon{
        left: 100%;
        right: auto;
        margin-right: 0;
        margin-left: pconv(10,vw);
    }
    
}

/*==========  Селект  ==========*/

select{
    width: 100%;
    min-height: inherit;
    appearance: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: inherit;
    color: inherit;
}
.select{
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top: 50%;
        right: pconv(30, vw);
        width: pconv(2, vw);
        border-top: pconv(9, vw) solid;
        border-left: pconv(7, vw) solid transparent;
        border-right: pconv(7, vw) solid transparent;
        border-radius: pconv(16, vw);
        transform: translateY(-50%);
    }
    select{
        @extend .input-style;
        padding: pconv(16, vw) pconv(35,vw);
        padding-right: pconv(76, vw);
        color: inherit;
    }
}
.select-filter{
    position: relative;
    font-size: pconv(72, vw);
    &:before{
        content: $gms-filter-icon;
        position: absolute;
        top: 50%;
        left: pconv(30, vw);
        transform: translateY(-50%);
        @extend .gms-font;
        font-size: 65%;
    }
    select{
        min-height: pconv(121, vw);
        border: pconv(2, vw) solid;
        border-bottom: pconv(6, vw) solid;
        padding-left: pconv($desc_pl, vw);
        border-radius: 0 0 2px 2px;
        text-align: center;
        text-indent: -0.08em;
        font-size: inherit;
        color: inherit;
    }
    
}

/*==========  Диапазон времени  ==========*/

.time-range{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .range{
        width: 40%;
    }
    input{
        
    }
}

/*==========  Чек дней  ==========*/

.checkdays{
    display: flex;
    justify-content: space-between;
    align-items: center;
    label{
        background-color: transparent;
        width: $checkdays_size;
        height: $checkdays_size;
        line-height: $checkdays_size;
        border-radius: 50%;
        text-indent: 0.05em;
        font-size: pconv(40, vw);

        transition: all $globDur;
    }
}
