.desc-item{
    padding: pconv(50, vw) pconv(90, vw) pconv(40, vw) pconv($desc_pl, vw);
}
.date-item{
    margin-left: #{'-'}+pconv($with_icon_p, vw);
    margin-bottom: 1.35em;
}
.item{
    position: relative;
    margin-bottom: pconv(50, vw);
    box-shadow: 0 1px pconv(3, vw);
    .desc{
        @extend .desc-item;
    }
    .date{
        @extend .date-item;
    }
    .title{
        margin-bottom: 0.2em;
        font-size: pconv(50, vw);
        font-weight: 300;
    }
    .text{
        line-height: 1.3;
        font-size: pconv(40, vw);
    }
    .signature{
        margin-top: 1.35em;
    }
}
.item-detail{
    .wrap{
        @extend .desc-item;
        padding-top: 0;
        padding-right: pconv(40, vw);
        p{
            font-size: pconv(40, vw);
        }
    }
    .date{
        @extend .date-item;
        margin-bottom: pconv(30, vw);
    }
    .sign{
        margin-bottom: pconv(50, vw);
    }

}