$nav_left_w: 80%;

$btn_menu_size: pconv(94, vw);
$btn_menu_p-x: pconv(20, vw);
$btn_menu_p-y: pconv(27, vw);
$btn_lines_height: $btn_menu_size / 15.65;

$btn_synch_size: pconv(46, vw);
$btn_synch_p-x: ($btn_synch_size * 0.87) / 2;
$btn_synch_p-y: (($btn_synch_size * 0.8) * 0.87) / 2;

.main-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // min-height: pconv(243, vw);
    min-height: pconv($header_h, vw);
    padding: 0 pconv(48);
    // padding-top: pconv(75);
    box-shadow: 0 0.5vw 1vw;
    z-index: 777;
    nav{
        display: none;
    }
    .brand-logo{
        width: pconv(375, vw);
        img{
            width: 100%;
            height: auto;
        }
    }
}

/*==========  Кнопка меню  ==========*/

.btn-menu{
    display: flex;
    position: relative;
    width: $btn_menu_size;
    height: $btn_menu_size;
    padding: $btn_menu_p-y $btn_menu_p-x;
    border: none;
    transition: all $globDur;
    backface-visibility: hidden;
    &:before{
        content: '';
        position: absolute;
        top: $btn_menu_size / 4.4;
        right: $btn_menu_size / 11;
        width: pconv(25, vw);
        height: pconv(25, vw);
        border-radius: 50%;
        z-index: 5;
        opacity: 0;
        transition: all $globDur;
    }
    &.has-notif:before{
        opacity: 1;
    }
}
.btn-menu-lines{
    display: inline-block;
    position: relative;
    width: 100%;
    height: $btn_lines_height;
    margin: auto;
    &:before,
    &:after{
        content: '';
        background-color: inherit;
        position: absolute;
        width: 100%;
        height: inherit;
    }
    &:before{
        top: -$btn_menu_size / 6.55;
    }
    &:after{
        top: $btn_menu_size / 6;
    }
}

/*-----  End of Кнопка меню  ------*/

.btn-synch{
    padding: $btn_synch_p-y $btn_synch_p-x;
    border: none;
    font-size: $btn_synch_size;
}

/*==========  Левое навигационное меню  ==========*/

.nav-menu{
    background: none;
    width: $nav_left_w;
    font-size: pconv(50, vw);
    overflow: hidden;
    .wrap{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: pconv($header_h, vw);
        padding: pconv(48, vw) 0;
        overflow: auto;
    }
    .user-photo{
        @extend .userphoto;
        width: pconv(212, vw);
        height: pconv(212, vw);
        margin-bottom: pconv(40, vw);
    }
    .name{
        padding: 0 pconv(50, vw);
        margin-bottom: pconv(60, vw);
    }
    .nav-list{
        margin-bottom: pconv(65, vw);
        a{
            display: block;
            position: relative;
            margin-bottom: pconv(2, vw);
            border: none;
            line-height: pconv(150, vw);

            &:before{
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                width: pconv(80, vw);
                height: pconv(2, vw);
                margin: 0 auto;
            }
            
            .notif-sum{
                top: 50%;
                right: 13%;
                min-width: pconv(60, vw);
                line-height: pconv(45, vw);
                border-radius: pconv(14, vw);
                font-size: pconv(30, vw);
            }
        }
    }
    .action-link{
        display: block;
        margin-bottom: pconv(35, vw);
        border: none;
        line-height: pconv(150, vw);
        text-align: left;
        span{
            padding-left: 16.6%;
        }
        i{
            padding-right: pconv(30, vw);
            vertical-align: middle;
        }
    }
}
.panel-overlay{
    top: pconv($header_h, vw);
}


/*==========  Переопределение стилей для framework7  ==========*/

.panel-overlay{
    display: block;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
    transform: translate3d(0,0,0);
    transition: opacity $globDur, visibility 0s $globDur;
}
body.with-panel-left-cover .panel-overlay, body.with-panel-right-cover .panel-overlay{
    visibility: visible;
    opacity: 1;
    transition: opacity $globDur;
}
.panel.panel-left.panel-cover.nav-menu{
    left: -$nav_left_w;
}
body.with-panel-left-cover .panel-left.nav-menu{
    transform: translate3d(100%, 0, 0);
}

