/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$gms-checkbox-name: 'gms-checkbox';
$gms-checkbox-x: 0px;
$gms-checkbox-y: 33px;
$gms-checkbox-offset-x: 0px;
$gms-checkbox-offset-y: -33px;
$gms-checkbox-width: 24px;
$gms-checkbox-height: 28px;
$gms-checkbox-total-width: 61px;
$gms-checkbox-total-height: 61px;
$gms-checkbox-image: 'sprite.png';
$gms-checkbox: (0px, 33px, 0px, -33px, 24px, 28px, 61px, 61px, 'sprite.png', 'gms-checkbox', );
$gms-checked-checkbox-name: 'gms-checked-checkbox';
$gms-checked-checkbox-x: 29px;
$gms-checked-checkbox-y: 33px;
$gms-checked-checkbox-offset-x: -29px;
$gms-checked-checkbox-offset-y: -33px;
$gms-checked-checkbox-width: 24px;
$gms-checked-checkbox-height: 28px;
$gms-checked-checkbox-total-width: 61px;
$gms-checked-checkbox-total-height: 61px;
$gms-checked-checkbox-image: 'sprite.png';
$gms-checked-checkbox: (29px, 33px, -29px, -33px, 24px, 28px, 61px, 61px, 'sprite.png', 'gms-checked-checkbox', );
$gms-checked-radio-name: 'gms-checked-radio';
$gms-checked-radio-x: 0px;
$gms-checked-radio-y: 0px;
$gms-checked-radio-offset-x: 0px;
$gms-checked-radio-offset-y: 0px;
$gms-checked-radio-width: 28px;
$gms-checked-radio-height: 28px;
$gms-checked-radio-total-width: 61px;
$gms-checked-radio-total-height: 61px;
$gms-checked-radio-image: 'sprite.png';
$gms-checked-radio: (0px, 0px, 0px, 0px, 28px, 28px, 61px, 61px, 'sprite.png', 'gms-checked-radio', );
$gms-radio-name: 'gms-radio';
$gms-radio-x: 33px;
$gms-radio-y: 0px;
$gms-radio-offset-x: -33px;
$gms-radio-offset-y: 0px;
$gms-radio-width: 28px;
$gms-radio-height: 28px;
$gms-radio-total-width: 61px;
$gms-radio-total-height: 61px;
$gms-radio-image: 'sprite.png';
$gms-radio: (33px, 0px, -33px, 0px, 28px, 28px, 61px, 61px, 'sprite.png', 'gms-radio', );
$spritesheet-width: 61px;
$spritesheet-height: 61px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($gms-checkbox, $gms-checked-checkbox, $gms-checked-radio, $gms-radio, );
$spritesheet: (61px, 61px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
