
$globDur: 0.3s;
$enterTextDur: 0.7s;
$maxFullW: 1080;
$header_h: 168;
$main_section_p: 48;
$with_icon_p: 35;
$desc_pl: 110;
$enter_msg_h: 100;

$mn: #{'-'};


/*==========  Gymse fonts variables  ==========*/
$gms-synch-icon: "\e600";
$gms-user_nophoto-icon: "\e601";
$gms-user_mess_nophoto-icon: "\e602";
$gms-arrow_left-icon: "\e603";
$gms-arrow_right-icon: "\e604";
$gms-barcode-icon: "\e605";
$gms-call-icon: "\e606";
$gms-check_checked-icon: "\e607";
$gms-date-icon: "\e608";
$gms-geo-icon: "\e609";
$gms-message-icon: "\e60a";
$gms-phone-icon: "\e60b";
$gms-send-icon: "\e60c";
$gms-star-icon: "\e60d";
$gms-filter-icon: "\e60e";


