.settings-page{
    font-size: pconv(40, vw);
    .text-label{
        margin-bottom: 1.7em;
    }
    .time-range{
        margin-bottom: pconv(90, vw);
    }
    .checkdays{
        margin-bottom: pconv(130, vw);
    }
    .checkbox-group{
        margin-left: -10%;
        margin-right: -10%;
        margin-bottom: pconv(110, vw);
    }
}
.load-photo{
    .user-photo{
        @extend .userphoto;
        width: pconv(295, vw);
        height: pconv(295, vw);
        margin-bottom: pconv(35, vw);
        font-size: pconv(170, vw);
        &:before{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
    }
    a{
        display: block;
        border: none;
        font-size: pconv(30, vw);
    }
}
