.main{
    width: 100%;
    height: 100%;
    &.start-page{
        background: url("../../img/bg-auth-page.jpg") no-repeat top center;
        background-size: 100%;
        padding: pconv(272) pconv(149) pconv(156);
    }
    .form-auth{
        @include tsz(782){
            padding: pconv(100) pconv(94) pconv(125);
        }
        border: pconv(12, vw) solid;
        .logo{
            margin-bottom: pconv(130, 570);
            img{
                width: pconv(224, 570);
                height: auto;
            }
            .label{
                margin-top: pconv(25, 570);
                line-height: 1.5;
                font-size: pconv(28, vw);
            }
        }
        
        .bottom-link{
            margin-top: pconv(130, 570);
            a,
            p{
                font-size: pconv(40, vw);
            }
            p{
                margin-top: pconv(60, 570);
                margin-bottom: pconv(50, 570);
            }
        }
    }
}

//        @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi){ 
//            border-width: calc(12px / 1.25);
//        }
//        @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi){ 
//            border-width: calc(12px / 1.3);
//        }
//        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ 
//            border-width: calc(12px / 1.5);
//        }
//        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
//            border-width: calc(12px / 2);
//        }
//        @media (-webkit-min-device-pixel-ratio: 3){
//            border-width: calc(12px / 3);
//        }