<ul class="nav nav-justified nav-step shadow-z-2">
    <li ui-sref-active="active" ui-sref=".auth">
        <a href="" class="step withripple">Authorization</a>
        <div class="prog-step" ></div>
    </li>
    <li ui-sref-active="active" ui-sref=".personal">
        <a href="" class="step withripple">Personal Data</a>
    </li>
    <li ui-sref-active="active" ui-sref=".contact">
        <a href="" class="step withripple">{{'Step'}}</a>
    </li>
    <li ui-sref-active="active" ui-sref=".confirm">
        <a href="" class="step withripple">{{'Step'}}</a>
    </li>
</ul>
<div class="workspace">
    <form class="step-form nice-place" name="myStepForm" ng-submit="processForm()" novalidate>
        <div class="form-views" ui-view ></div>
    </form>


    <pre class="mt20">
        {{ newUser }}
    </pre>
</div>