<article class="item item-news item-voting">
    <a ui-sref=".voting{{item.ver}}({ id: item.id })" class="link-detail"></a>
    <div class="desc">
        <div class="date with-icon"><i class="gms-date-icon"></i>25 марта 2015</div>
        <div class="d-flex flex-center col-2">
            <div class="text" ng-bind="item.message"></div>
            <div class="voting">
                <div class="change-voting">
                    <input type="radio" name="voting" class="voting-radio" id="st5">
                    <label for="st5"><i class="gms-star-icon"></i></label>
                    <input type="radio" name="voting" class="voting-radio" id="st4">
                    <label for="st4"><i class="gms-star-icon"></i></label>
                    <input type="radio" name="voting" class="voting-radio" id="st3">
                    <label for="st3"><i class="gms-star-icon"></i></label>
                    <input type="radio" name="voting" class="voting-radio" id="st2">
                    <label for="st2"><i class="gms-star-icon"></i></label>
                    <input type="radio" name="voting" class="voting-radio" id="st1">
                    <label for="st1"><i class="gms-star-icon"></i></label>
                </div>
            </div>
        </div>
    </div>
</article>