<article class="item item-news" >
    <a ui-sref=".detail({ id: item.id })" class="link-detail"></a>
    <div class="image-news fix-image" style="background-image: url({{item.image}});"></div>
    <div class="desc">
        <div class="date with-icon"><i class="gms-date-icon"></i>{{item.date | date:'medium'}}</div>
        <div class="text" ng-bind="item.message"></div>
    </div>
</article>