.main-section{

}
.feedback-page{
    button{
        margin-top: pconv(90, vw);
    }
    .link-form{
        margin-top: pconv(65, vw);
    }
}
[ui-view="content"]{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 50;
}


@import "pages/start-page";
@import "pages/settings-page";
@import "sections/s-news";
@import "sections/s-filter";
@import "sections/s-voting";
@import "sections/s-about";