/*========================================
=            Глобальные стили            =
========================================*/
    body{
        color: $text_c;      
    }

    a{
        color: $text_c;
    }

    /*==========  Заголовки, тексты  ==========*/

    .sign{
        color: $sign_c;
    }

    .text{
        color: $text_c;
    }

    /*==========  Разделитель  ==========*/

    .separator{
        background-color: rgba($separator_c, 0.3);
        &:before{
            background-color: $separator_c;
        }
    }



    /*==========  Счетчик уведомлений  ==========*/

    .notif-sum{
        background-color: $notif_bullet_bg;
        color: $nav_text_c;
    }

    /*==========  Голосование  ==========*/

    .voting{
        .voting-radio{
            &:checked + label,
            &:checked + label ~ label{
                color: $voting_check;
            }
        }
        label{
            color: $voting_uncheck;
            &:hover,   
            &:hover ~ label{
                color: $voting_check;
            }
        }
    }

    /*==========  Цвет текста  ==========*/
    
    .c-main1{
        color: $main_color1 !important;
    }
    .c-second1{
        color: $second_color1 !important;
    }
    .c-gray{
        color: $gray_color !important;
    }



/*-----  End of Глобальные стили  ------*/


/*==============================
=            Кнопки            =
==============================*/

button,
.button,
input[type="submit"]{
    background-color: $button_bg;
    border-color: $button_br; 
    color: $button_bg_light;
}
.btn-light{
    background-color: $button_bg_light;
    color: $button_br;
}


/*-----  End of Кнопки  ------*/

/*==============================
=            Инпуты            =
==============================*/

.input-style{
    background-color: $input_bg;
    border-color: $input_br;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea{
    @extend .input-style;
    
    color: $text_c;

    #{'.start-page'} & {
        background-color: $input_auth_bg;
        border-color: $input_auth_br;
        color: $light_color;
    }
}
::-webkit-input-placeholder {
    color: $input_placeholder;
    #{'.start-page'} & {
        color: rgba(255, 255, 255, 0.6);
    }
}



/*==========  Переключатель radio  ==========*/

.switch-input{
    @extend .input-style;
}
.switch-change{
    & + label{
        border-color: $input_br;
        color: $input_br;
    }
    &:checked + label{
        background-color: $input_br;
        color: $input_bg;
    }
}

/*==========  Радио и Checkbox кастомные  ==========*/

input[type="radio"]:not([class]),
input[type="checkbox"]:not([class]){
    & + label{
        &:before{
            background-color: $input_bg;
            border-color: $radio_uncheck;
        }
        &:after{
            background-color: $radio_uncheck;
        }
    }
    &:checked + label{
        &:before{
            border-color: $radio_check;
        }
        &:after{
            background-color: $radio_check;
        }
    }
}

input[type="checkbox"]:not([class]){
    & + label{
        &:after{
            color: $checkbox_c;
        }
    }
    &:checked + label{
        &:before{
            border-color: $checkbox_c;
        }
    }
}


/*==========  Обертка для инпутов и положение иконок в них  ==========*/

.input-group{
    &.required{
        &:before{
            color: $required_mark_c;
        }
    }
}

/*==========  Селект  ==========*/

.select{
    color: $input_placeholder;
    &:before{
        border-top-color: $main_color_dark;
    }
    select{
        @extend .input-style;
    }
}
.select-filter{
    color: $button_bg_light;
    select{
        background-color: $button_bg;
        border-color: $button_br; 
    }
    
    &.light{
        color: $button_br;
        select{
            background-color: $button_bg_light;
        }
    }
}

/*==========  Диапазон времени  ==========*/

.time-range{
    color: $input_br;
}

/*==========  Чек дней  ==========*/

.checkdays{
    color: $input_br;
    .checkday:checked + label{
        background-color: $input_br;
        color: $light_color;
    }
}


/*-----  End of Инпуты  ------*/


/*====================================
=            Шапка и меню            =
====================================*/


.main-menu{
    background-color: $header_bg;
    color: rgba($header_shadow, 0.25);
}

/*==========  Кнопка меню  ==========*/

.btn-menu{
    &:before{
        background-color: $notif_bullet_bg;
    }
}
.btn-menu-lines{
    background-color: $light_color;
}


.btn-synch{
    color: $light_color;
}

/*==========  Левое навигационное меню  ==========*/

.nav-menu{
    .wrap{
        background-color: $main_color1;
    }
    .user-photo{
        border-color: $light_color;
    }
    .name{
        color: $nav_text_c;
    }
    .nav-list{
        a{
            color: $nav_text_c;
            &:active,
            &.active-state {
                background-color: rgba($nav_li_br, 0.5);
            }

            &:before{
                background-color: $nav_li_br;
            }
            
        }
    }
    .action-link{
        background-color: $action_link_bg;
        color: $nav_text_c;
    }
}


/*-----  End of Шапка и меню  ------*/



/*============================
=            Табы            =
============================*/

.tabs{
    background-color: $tabs_bg;
    border-bottom-color: $tab_br;

    a{
        border-left-color: $tab_br;
        color: $tab_link_c;
        &.active{
            background-color: $tab_active;
        }
    }
    &.tabs-week{
        a{
            &.active{
                span{
                    color: $tab_week_active;
                }
            }
        }
        .weekday{
            color: $tab_weekday_c;
        }
        .monthday{
            color: $tab_monthday_c;
        }
    }
}

/*-----  End of Табы  ------*/


/*=============================
=            Items            =
=============================*/

.item{
    background-color: $item_bg;
    color: $item_shadow;
    .desc,
    .text{
        color: $text_c;
    }
    
}

/*-----  End of Items  ------*/


/*=================================
=            Сообщения            =
=================================*/

.item-message{
    .user-photo{
        background-color: $no_photo_bg;
        color: $light_color;
    }
}

/*-----  End of Сообщения  ------*/



/*============================
=            Main            =
============================*/

.page{
    background-color: $back_bg;
}

    /*==========  Start-page  ==========*/

    .main{
        .form-auth{
            border-color: $light_color;
            .logo{
                .label{
                    color: $light_color;
                }
            }
            .bottom-link{
                a,
                p{
                    color: $light_color;
                }
            }
        }
    }

    /*==========  Settings-page  ==========*/

    .load-photo{
        .user-photo{
            border-color: $main_color1;
            color: $main_color1;
        }
        a{
            color: $main_color1;
        }
    }


    /*==========  News-s  ==========*/

    .date{
        color: $date_c;
    }


    /*==========  Filter-s  ==========*/
    
    .item-filter{

        .dur{
            &:before{
                background-color: $second_color1;
            }
        }
    }
    .tags{
        .tag{
            background-color: $tag_bg;
            color: $tag_c;
            &:before{
                background-color: $item_bg;

            }
        }
    }


    /*==========  About-s  ==========*/


    .slider-branch{
        .nav-slider{
            background-color: rgba($about_title_c, 0.9);
        }
        .club-name{
            color: $light_color;
        }
        .arrows{
            background-color: $light_color;
            color: $main_color1;
        }
    }

/*-----  End of Main  ------*/

